
#admin_navigation li.parent {
    padding-right:20px;
}

#admin_navigation .submenu {
    margin-left:-10px;
}

#admin_navigation .submenu li {
    padding-left:0px;
}

#admin fieldset.exposed {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:20px;
}
.float_left {
    width:50%;
    float:left;
}

.float_right {
    width:50%;
    float:right;
}



#admin fieldset.exposed .form-item-div {
    float:left;
    margin-right:20px;
}

#admin fieldset.exposed .form-item-div .form-submit {
    margin-top:15px;
}

#admin textarea {
	float:none;
}

#admin .form-item-title {
	font-weight:bold;
}

.admin-cup.block {
	width:70px;
	float:left;
	text-align:center;
	margin-right:10px;
}


legend {
	background: url(/public/themes/gamemaster/images/h3_bg.png) no-repeat left;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	color: #636363;
	padding-left: 20px;
	margin-bottom:10px;
}

fieldset {
	margin-top:20px;
}
.translate td {
	word-break: break-word;
}
/*
 * Pagination
 */

nav.pagination {
	font-family:"Quattrocento",serif;
	font-size:17px;
	color:#474747;
	display:block;
	margin-top:5px;
}

nav.pagination ul {
	margin:0;
	padding:0;
	list-style:none;
}

nav.pagination ul li {
	display:inline-block;
}

nav.pagination ul li + li {
	margin-left:3px;
}

nav.pagination ul li a {
	padding:2px 6px 2px 6px;
	color:inherit;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255,255,255,1);
	line-height:1;
	background:#F7F7F7;
	background:-webkit-gradient(linear,left top,left bottom,from(#F7F7F7),to(#DEDEDE));
	background:-moz-linear-gradient(top,#F7F7F7,#DEDEDE);
	background:-webkit-linear-gradient(top,#F7F7F7,#DEDEDE);
	background:linear-gradient(top,#F7F7F7,#DEDEDE);
	border:#EDEDED solid 1px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:
	0 1px 1px rgba(0,0,0,0.5),
	0 1px 0 rgba(255,255,255,1) inset;
	-webkit-box-shadow:
	0 1px 1px rgba(0,0,0,0.5),
	0 1px 0 rgba(255,255,255,1) inset;
	box-shadow:
	0 1px 1px rgba(0,0,0,0.5),
	0 1px 0 rgba(255,255,255,1) inset;
	display:block;
}

nav.pagination ul li a:active,
nav.pagination ul li a.active {
	margin-top:3px;
	-moz-box-shadow:
	0 1px 0 rgba(255,255,255,1),
	0 1px 1px rgba(0,0,0,0.3) inset;
	-webkit-box-shadow:
	0 1px 0 rgba(255,255,255,1),
	0 1px 1px rgba(0,0,0,0.3) inset;
	box-shadow:
	0 1px 0 rgba(255,255,255,1),
	0 1px 1px rgba(0,0,0,0.3) inset;
}

/*
 * New stylesheet
 */

.form-submit {
	clear:both;
}
.bold {
	font-weight:bold;
}

.center{
	text-align:center;
}

td.name {
	width:50%;
}
#admin-tabs {
	bottom: -1px;
	font-size: 1.54em;
	line-height: 1.54em;
	margin: 0;
	margin-top:0px;
	padding-left:0;
	border-bottom: 2px solid #d0d1ce;
}

#admin-tabs li {
	display: inline;
	list-style: none;
	margin: 0 2px 0 0px;
	padding: 0;
}

#admin-tabs li a, #admin-tabs li a:active, #admin-tabs li a:visited, #admin-tabs li a:hover {
	background-color: #a6a7a2;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-radius: 8px 8px 0 0;
	color: #000;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 2px 0;
	outline: 0;
	padding: 0 14px;
	text-decoration: none;
	margin:0;
}


#admin-tabs li.active a, #overlay-tabs li.active a.active, #overlay-tabs li.active a:active, #overlay-tabs li.active a:visited {
	background-color: #d0d1ce;
	margin: 0;
}
table {
	width: 100%;
	font-size: 0.923em;
	margin: 0 0 10px;
	border: 1px solid #bebfb9;
}

table th {
	text-transform: uppercase;
	background: #e1e2dc;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #bebfb9;
	padding: 3px 10px;	
}

table td {
	vertical-align: middle;
	padding: 8px 10px;
	border: 0;
	color: #000;
}
table tr {
	border-bottom:1px solid #bebfb9;
}


/**
  *	Teams
 */

.center {
	text-align:center;
}
.admin-teams-list td,.fixes td {
	padding:3px;
	border:1px solid #ccc;
}

.admin-teams-list tr {
	border-bottom:1px solid #999;
}

#admin tr.head {
	font-weight:bold;
	color:#fff;
	background:#666;
}

/* adminpage fix */

#shoutbox {
  padding-bottom: 2px;
}

#content {
  padding:0;
  width:960px;
}

.borderwrap{
	background: #fff;
	border: 1px solid #072A66;
	padding: 0px;
	margin: 0px;
}

.maintitle{
	border-bottom: 1px solid #fff;
	margin:-1px;
}

.maintitle_center{
	background: url('../images/forums/tile_cat.gif');
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 8px;
	float:left;
	width:900px;
}

.maintitle_left{
	float:left;
	background:url(../images/forums/maintitle_left.gif) no-repeat;
	width:3px;
	height:31px;
}

.maintitle_right{
	float:right;
	background:url(../images/forums/maintitle_right.gif) no-repeat;
	width:3px;
	height:31px;
}

.maintitle a {color:#fff;}
.maintitle a:hover{ text-decoration:none; color: #ccc;} 


.ipbtable{width: 100%;}
table.ipbtable,tr.ipbtable,td.ipbtable{background: transparent;color: #222;font-size: 11px;line-height: 135%;}
.ipbtable td{padding: 5px;}

.borderwrap table td.head{	
 	background: transparent url('../images/forums/tile_sub.gif');
	border-bottom: 1px solid #dbdbdb;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

.row1{
	background: #f1f1f1;
}

.row2{
	background:#f6f6f6;
}

#features_forums h1 a{
color: #2D2D2D;
}

#features_forums h1 a:hover{
text-decoration:none;
}

.lapaspuse{
border: 1px solid #ccc;
background: #F0F0F0;
padding: 2px;
}

.atbilde_dalitajs
{
height: 10px; 
background: #0C2A3D;
border-top: 1px solid #0C2A3D;
width:100%;
}


/* settings */

#settings{
  margin-top: 20px;
}
#settings .settings-left-side{
  float:left;
  width: 450px;
}

#settings .settings-right-side{
  float:right;
  width: 450px;
}

#settings .row1{
  text-align:right;
  width: 180px;
  color:#3d3d3d;
}

#settings .title {
  color:#999;
  font-size: 18px;
  font-family:tahoma;
  font-weight:bold;
}

#settings input[type=text] {
  width: 270px;
  color:#3d3d3d;
  border: 1px solid #999;
}

#settings input[type=radio] {
  cursor:pointer;
}

#settings .submit-button {
  margin-top: 5px;
  margin-left: 10px;
} 


/* adminmenu */

#admin_navigation{
	width:930px;
	height:34px;
	background: url('/public/images/admin/menu.png') repeat-x;
	}
#admin_navigation .sep
{
border-right: 1px solid #004565;
width: 1px;
height: 100%;
}

#admin_navigation ul{
padding: 0px;
margin: 0px;
}

#admin_navigation li{
	display:inline;
	padding-left:10px;
	padding-right:10px;
	height:34px;
	text-align:center;
	float:left;
	color: color:#fff;
	font-size:13px;
	font-weight:bold;
border-right: 1px solid #666;

}

#admin_navigation li.sep{
width: 1px;
background: #004565;
margin: 0px;
padding: 0px;
height: 34px;
}


#admin_navigation li.active{
	display:inline;
	width:125px;
	height:34px;
	text-align:center;
}

#admin_navigation a{
color:#fff;
display:block;
padding-top: 10px;
width: 100%;
font-size:11px;
height: 24px;
}

#admin_navigation li:hover{
background: url('/public/images/admin/menu_hover.png') repeat-x;
text-decoration:none;
}


#admin_navigation a.active{
color: #fff;
	font-size:13px;
background: url('/public/images/admin/menu_active.png') repeat-x;
	font-weight:bold;
display:block;
padding-top: 10px;
width: 100%;
height: 24px;
}
#admin_navigation li.have_sm a:hover{
background: #3F3F3F;
}

#admin_navigation .submenu{
  display:none;
}


#admin_navigation ul li:hover .submenu{
  
  min-width: 170px;
  padding:0;
    margin-left:-10px;
  position:absolute;
  display:block !important;
z-index: 1;
}

#admin_navigation ul li .submenu ul{
  display:block;
  position:relative;
}

#admin_navigation ul li .submenu ul li{
  display:block;
  clear:both;
  text-align:left;
  border:0px;
  background: #999999;
  width: 160px;
    padding-left:0px;
}

#admin_navigation ul li .submenu ul li a{
  padding-left: 6px;
  width: 164px;
}

#admin_navigation ul li .submenu ul li a:hover{
  text-decoration:none;

  background-image: url('/public/images/admin/submenu_hover.png');
}

#admin_navigation .submenu_bottom{
  height: 13px;
  width: 170px;
  background: url('/public/images/admin/submenu_bottom.png') no-repeat;
  background-position:center bottom;
  position:relative;
  display:none;

  clear:both;
  bottom:0px;
}

#admin_navigation ul li:hover .submenu_bottom{
  display:block;

  clear:both;
}

#admin_navigation ul li .submenu ul li:hover{
  background:none;
}


/* admin submenu */


#admin #submenu li{
	display:inline;
	font-size:14px;
	color:#003e7e;
	margin-right:10px;
}

#admin #submenu a{
	color:#666;
	font-size:14px;
	text-decoration:underline;
	text-shadow: 1px 1px 3px #bbbbbb;
}

#admin #submenu a.active{
	font-weight:bold;
	text-decoration:none;
}

#admin #submenu{
	width:auto;
	height:23px;
	background:#e2e5e8;
	border-top:1px solid #b5c6d6;
	line-height: 21px;
	width: 930px;
}

#admin #submenu ul{
  margin:0;
  padding:0;
  margin-left: 30px;
}
#admin #submenu li{
padding: 0px;

}

.content{
   padding: 0 20px 10px 0;
}

.admin_delete_button {
  background: url('/public/images/admin/delete.png') no-repeat;
  width: 16px;
  height: 16px;
  border: 0px;
  cursor:pointer;
}

.tm_roster {
  float:left;
  margin: 10px;
}

/*
  ----
  news
  ----
*/

#news .row1 {
  font-weight:bold;
  font-size:13px;
  resize:none;
}


#news .title {
  width:500px;
} 
#news select {
  width:120px;
}

#news #new_desc {
  width:905px;
  height:100px;
  border: 1px solid #ccc;
  font-size:12px;
}

#news #new_body {
  width:900px;
  height:400px;
}

table#publishing_options td {
  width:auto;
}


#news .new_error {
  border: 1px solid red !important;
}

#news #new_desc {
  width:904px;
}

.users_groups td {
	padding:3px;
	vertical-align:top;
}

.users_groups td.perms {
	vertical-align:top;
	padding-top:8px;
	font-weight:bold;
	color:#666;
}

.users_groups .perms_box {
	border: 1px solid #C9C9C9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 8px 0 rgba(99, 99, 99, 0.2) inset;
    color: #7C7C7C;
    font-size: 11px;
    margin-bottom: 4px;
    outline: medium none;
    padding: 0 5px;
}

table.user_groups td {
	padding:10px;
	text-align:center;
}

.seperate {
	background:#E2E5E8;
	height:2px;
	margin-bottom:10px;
}

table.user_groups_all td {
	padding-bottom:3px;
}

.perms_title {
    color: #666666;
    font-weight: bold;
    line-height: 25px;
}

.add-tourney-coins,.add-tourney-teams {
	width:40px;
}

.add-tourney-type {
	width:60px;
}

.users_groups .perms_box strong {
	display:block;
	margin-bottom:7px;
}

.ipbtable.content th,.content table.menu th {
	padding:4px;
	background:#666;
	color:white;
	font-weight:bold;
}

.ipbtable.content th.actions{
	width:20px;
}
.ipbtable.content td.actions,.content table.menu td.actions {
	text-align:center;
	width:20px;
}
.ipbtable.content td.title,.content table.menu td.title {
	width:300px;
}

.ipbtable.content td.last_update,.content table.menu td.last_update {
	color:#666;
}

.content table#content {
	width:930px;
}

.ipbtable.categories td.actions,.categories table.menu td.actions {
	text-align:center;
	width:20px;
}

.ipbtable.categories th,.categories table.menu th {
	padding:4px;
	background:#666;
	color:white;
	font-weight:bold;
}

/* ADMIN: Games */
.content.games .game {
	border:1px solid red;
	margin:20px;
	padding:10px;
	width:50px;
	text-align:center;
	float:left;
}


/* Bettings [MakeBet] */

.betting_status {
	border-radius:20px;
	width:20px;
	height:20px;
	margin:0 auto;
}

table.makebet td.status,table.makebet th.status  {
	text-align:center;
}

.makebet_data {
	margin-bottom:10px;
}

.makebet_data .row1 {
	text-align:right;
	width:100px;
}

.content.makebet .team1_koef, .content.makebet .team2_koef {
	width:21px;
	text-align:center;
}


#admin-front {
	padding:10px;
}

#admin-front #support {
	float:left;
	width:280px;
	position:relative;
}

#admin-front #support #support-image {
	float:left;
	width:110px;
	position:absolute;
}

#admin-front #support #support-info {
	color: white;
	padding: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#DB6C16), to(#E8924D));
	background: -moz-linear-gradient(top, #DB6C16, #E8924D);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DB6C16, endColorstr=#E8924D);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DB6C16, endColorstr=#E8924D)";
	border-radius: 10px;
	position: absolute;
	left: 70px;
	top: 49px;
	font-size: 16px;
	font-weight: bold;

}

#admins-list {
	margin-top: -30px;
	clear: both;
}

#admin-front .showAdmin {
	text-align:center;
	margin:15px;
	width:85px;
	float:left;
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#666));
	background: -moz-linear-gradient(top, #999, #666);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999, endColorstr=#666);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#666, endColorstr=#999)";
	border-radius: 10px;
	padding:10px;
}
#admin-front .showAdmin  img.photo {
	border-radius: 0px;
    border: 1px solid #fff;
}

#admin-front #members-roles {
    width: 656px;
    float: right;
}

#admin-front .showAdmin  a {
	color:#fff;
	font-weight:bold;
}

#admin-front #global-admins {
	float: left;
	margin-right: 9px;
	margin-top: 0px;
	width:619px;
}

/**
 * Badges
 */
.badgesForm {
    border:1px solid #ccc;
    background:#F0F0F0;
    padding:5px;
    width:450px;
}

.badgesForm .badge {
    position:relative;
    width:32px;
    height:32px;
    display:inline-block;
    margin-right:3px;
}

.badgesForm .badge .removeBadge {
    position:absolute;
    top:0px;
    right:0px;
    background: url("../img/icons/delete.png") no-repeat center center;
    width:16px;
    height:16px;
    display:block;
    color:transparent;
    font-size:0px;
}