#cup-team-info {
    background: #edeef1;
    position: relative;
    -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.8);
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.8);
    border: 1px solid #e6e6e6;
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 155px;
    width: 928px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-image: url('https://d50m6q67g4bn3.cloudfront.net/assets/banner/lol_account-9f94dc6df6cf05aba94f75736b8de5ef.png');


}

#cup-team-info .cup-team-teams-label, #cup-team-info .cup-team-info {
    text-shadow: 1px 1px 5px #ccc;
    color: #505050;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 25px 0 0;
    font-size:13px;
}

#cup-team-info .cup-team-info {
    margin-top:10px;
}

#cup-team-info .cup-team-teams-label {
    font-size: 24px;
}

#cup-team-info .vs {
    font-size:18px;
}

#cup-team-info .enemy-team {
    color:#f96d3c;
}

.cup-team-info-inner-container-box {
    padding-left:150px;
}

#cup-team-info .cup-team-info span {
    color:#f96d3c;
}
#submitGameResult {
    display: block;
    float: right;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    padding-top: 6px;
    line-height: 25px;
    background-color: #8cc400;
    background: -webkit-linear-gradient(#8cc400, #62a801);
    background: linear-gradient(#8cc400, #62a801);
    border: 1px solid #549300;
    text-shadow: 1px 1px 5px #b1c69c;
    height: 28px;
    width: 150px;
    cursor: pointer;
    margin-top: -7px;
    margin-right: 8px;
}

#submitGameResult:hover {
    background-color: #61a801;
    background: -webkit-linear-gradient(#61a801, #599803);
    background: linear-gradient(#61a801, #599803);
    text-decoration: none;
}

.bx.cupf{
    background-image: url('/public/images/cupfbg.png');
    background-position-y: -50px;
    background-position-x: -70px;
}
