/**
 * VoidLeague forum
 */
.forum-button {
    width: 146px;
    height: 60px;
    display: inline-block;
    float: right;
    line-height: 72px;
    padding-left: 40px;
    text-align: center;
    color:#fff;
    margin-top:5px;
}

.forum-button.top {
    margin-top: -47px;
}

.page-forum .messages {
    margin-bottom: 53px;
}
.forum-button a {
    display: block;
    width:100%;
    height:100%;
    font-family: "Tahoma";
    text-shadow: 1px 1px 4px #000;
    color:#fff;
}

.forum-button.reply {
    background: url("../img/forum/forum_reply.png") no-repeat;
}

.forum-button.closed {
    background: url("../img/forum/forum_closed.png") no-repeat;
}

.forum-button.add-thread {
    background: url("../img/forum/forum_new.png") no-repeat;
}


#moderate-forum {
    float: right;
    margin-top: -28px;
    margin-right: 3px;
}

#moderate-forum select {
    width: 123px;
}

.thread-status {
    background: url("/public/img/forum/thread-icon.png") no-repeat 0 3px;
    padding: 0 0 0 20px;
    display: block;
    height: 20px;
    line-height: 22px;
}

.thread-status.closed {
    background: url("/public/img/forum/thread-icon_lock.png") no-repeat 0 3px;
}

.thread-status.unread {
    background: url("/public/img/forum/thread-icon_new.png") no-repeat 0 3px;
}

.forum-user-operations {
    float:right;
}

.reply-updated {
    font-size:10px;
    margin-top:20px;
}

.forums-categories .data.open-topic {
    word-break: break-all;
}

.page-forum #breadcrumb {
    margin-bottom:20px;
}

.page-forum h1.title {
    display: none;
}

.page-forum .team.profile{
    margin-left: -15px;
    width: 961px;
}

.page-forum .team.profile .profile-header  {
    padding:0;
}

.page-forum .section {
    margin-bottom:10px;
}