.button {
border: 1px solid #ccc;
margin: 1px;
padding: 2px;
}

.button:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
-moz-opacity: 0.6;
}

.ed {
width: 400px;
height: 150px;
}

.borderwrap{
	padding: 0px;
	margin: 0px;
}

.maintitle{
    background: url("/public/themes/gamemaster/images/menu_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #004789;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.48) inset;
    float: left;
    height: 30px;
    width: 926px;
}

.maintitle p {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 8px;
}

.maintitle a {
    color: #FFFFFF;
}
.maintitle a:hover{ text-decoration:none; color: 	#F0F0F0;} 


.ipbtable{width: 100%; border-right: 1px solid #004789; border-left: 1px solid #004789; border-bottom: 1px solid #004789; border-collapse:collapse;}
table.ipbtable,tr.ipbtable,td.ipbtable{ background: transparent url('/public/images/forums/tile_sub.gif') repeat-x; clear: both; color: #222;font-size: 11px;line-height: 135%;}
.ipbtable td{padding: 5px;}

.borderwrap table td.head{	
 	background: transparent url('/public/images/forums/tile_sub.gif');
	border-bottom: 1px solid #dbdbdb;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
	padding: 5px;
	background: #000;
}

.row1{
	background: #f1f1f1;
	border-bottom: 1px solid #dbdbdb;
}

.row2{
	background:#f6f6f6;
	border-bottom: 1px solid #dbdbdb;
}

#features_forums h1 a{
color: #2D2D2D;
}

#features_forums h1 a:hover{
text-decoration:none;
}

.lapaspuse{
border: 1px solid #ccc;
background: #F0F0F0;
padding: 2px;
}

.atbilde_dalitajs
{
height: 10px; 
background: #0C2A3D;
border-top: 1px solid #0C2A3D;
width:100%;
}

.forum_bottom {
  background:#004789;
  height:1px;
  width:100%;
  margin-top: -1px;
}
.maintitle select {
    margin-right: 10px;
    margin-top: 7px;
}

