#all-results a {
	color:white;
}

/*
 * YuGiOh
 */ 

#league-page.yugioh .conf {
	background: #f0b7a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}

.yugioh .score_left, .yugioh .score_right {
	width:90px;
}

.yugioh .score_center {
	margin-left:0;
	width:56px;
}
/**
  *	NFL
 */	

form .form-item {
	clear:both;
}

.yugioh #myinfo-page_rightside .form-item-title {
	float:left;
	width:147px;
}

.form-field.item-lifeponts {
	width:40px;
}
#match-playerstats #match-playerstats-team-1 {
	width:330px;
	float:left;
}

#match-playerstats #match-playerstats-team-2 {
	width:330px;
	float:right;
}

#match-playerstats .player-name {
	font-weight:bold;
	font-size:14px;
	padding:7px;
}

#match-playerstats .player {
	margin-bottom:30px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 5px #666;
	border-radius:5px;
}

#match-playerstats table.player-stats {
	width:328px;
}

#match-playerstats table.player-stats th {
	background:#ccc;
	padding:3px;
	padding-left:7px;
	font-weight:bold;
	font-size:13px;
	color:#666;
}


#match-playerstats table.player-stats td {
	padding:3px;
	border: 1px solid #ccc;
	padding-left:7px;
}

#gamestats {
	width:100%;
	margin:0 auto;
}

#gamestats td {
	padding:3px;
}

#gamestats .col1 {
	font-size:15px;
	text-align:right;
	font-weight:bold;
}
#gamestats .col2 {
	font-weight:bold;
	font-size:13px;
	text-align:center;
	width:170px;
	color:#666;
}
#gamestats .col3 {
	font-size:15px;
	text-align:left;
	font-weight:bold;
}

div.custom_file_upload {
	width: 230px;
	height: 20px;
}

input.file {
	width: 150px;
	height: 11px;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	padding: 5px;
	float:left;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	outline: none;
}

div.file_upload {
	width: 80px;
	height: 18px;
	background: #7abcff;
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-top: 5px;
	margin-left: -1px;
}
div.file_upload:before {
	content: 'PIEVIENOT';
	position: absolute;
	left: 0; right: 0;
	text-align: center;
	
	cursor: pointer;
}

div.file_upload input {
	position: relative;
	height: 30px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}


#myinfo-page_leftside {
	float:left; 
	color: #666; 
	width: 140px; 
	min-height: 400px; 
	border-right: 1px solid #496c9f; 
	text-align:center;
}

#myinfo-page_leftside-team {
	font-size:11px;
}	

.warning-level-0 {
	color:#009900;
}
.warning-level-1 {
	color:#FFCC00;
}
.warning-level-2 {
	color:#FF0000;
}

#myinfo-page_leftside .warning {
	margin-bottom:20px;
}
#myinfo-page_leftside .games-left-count {
	border-bottom: 1px solid #496c9f; 
	margin-bottom:5px;
}
#myinfo-page_leftside .games-left-box {
	height:300px;
	overflow:auto;
}

#myinfo-page_rightside {
	float:right;
	width: 523px;
}

#myinfo-page_rightside.playoff {
	float: left;
	width: 526px;
	margin-left: 30px;
}
#myinfo-page_rightside textarea {
	width:98%;
}

#myinfo-page_rightside form {
	border-radius: 5px;
	background: #f0f0f0;
	border: 1px solid #ccc;
	padding: 10px;
}

#myinfo-page_rightside .form-item-title {
	font-weight: bold;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	margin-left: 10px;
}

#myinfo-page_rightside  .form-item-field {
	float:left;
}

#myinfo-page_rightside form .form-submit {
	float: left;
	margin-left: 40px;
}
/* NBA */

.top-image {
	height:150px;
}

.team { width: 500px; }

.conf{
background: url('/public/images/league/NBA/conf_bg.gif') repeat-x;
height: 17px;
padding: 3px 2px 2px 6px;
color: #fff;
font-weight:bold;
}
.conf_bg{
height: 26px;

font-weight:bold;
font-size: 11px;
}





/* F1 */

table.V2 td{
padding: 2px;
color: #999;
font-weight:bold;
}
.inputV2{
border: 1px solid #ccc;
width: 210px;
height: 18px;
padding: 4px;
color: #666;
font-weight:normal;
}
select.V2{
border: 1px solid #ccc;
width: 220px;
height: 30px;
padding: 4px;
color: #666;
font-weight:normal;
}
.submitV2{
padding: 4px;
background: #fff;
border: 1px solid #ccc;
font-size: 16px;
cursor:pointer;
color: #666;
}


#paklajs_F1,#paklajs
{
background: url('../images/V2/paklajs_F1.png') repeat-x;
height: 27px;
width: 100%;
}

#money{
background: url('../images/money.png') no-repeat;
width: 16px;
height: 16px;
text-align:left;
padding-left: 22px;
}
#paklajs_F1 div,#paklajs div
{
padding-top: 4px;
padding-left: 15px;
color: #fff;
font-weight:bold;
font-size: 16px;
}

.paklajs_F1
{
background: url('../images/V2/paklajs_F1.png') repeat-x;
height: 27px;
width: 100%;
}

.paklajs_F1 div
{
padding-top: 4px;
padding-left: 15px;
color: #fff;
font-weight:bold;
font-size: 16px;
}


#LeagueStanding
{
width: 670px;
border: 0px;
color: #000;
font-size: 12px;
font-family:arial;
color: #404040;
}
#LeagueStanding td
{
border: 1px solid #999;
padding: 4px;
text-align:center;
vertical-align:middle;
}
#LeagueStanding tr.head
{
border: 0px;
background: #666;
color: #ccc;
font-weight:bold;
padding: 2px;
font-size: 12px;
font-family: arial;
}
#LeagueStanding td.nr
{
width: 10px;
text-align:center;
}
#LeagueStanding td.team
{
    font-weight: bold;
    height: 20px;
    line-height: 22px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width:150px;
}

#LeagueStanding td.SO {
    width:25px;
}
#LeagueStanding td.team img {
    float: left;
    margin-right: 5px;
}


#last_scores img{
	width:38px;
	height:auto;	
}

#last_scores a{
	color:#434343;
	font-size:10px;
	text-decoration:none;
}

#last_scores a:hover{
 	text-decoration:underline;	
}

.scores{
	padding:5px 0px;
	overflow:hidden;
	color:#434343;
	margin: 0 auto;
	width: 248px;
}

.score_left{
	float:left;
	width:75px;
	margin:3px;
	text-align:center;
	display:inline;
}

.score_right{
 	margin:3px;
	float:right;
	width:75px;
	text-align:center;
	display:inline;
}

.score_center{
	float:left;
	margin-top:3px;
	width:60px;
	text-align:center;
	margin-left: 13px;
	display:inline;
}

.score_center span{
	color:#cb0000;
	font-size:9px;
	text-align:center;
}

.score_center p{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#454545;

}
.scores a{
	font-weight:bold;	
}



#games {
height:85px;
margin:1px;
padding:15px 0 0 20px;
}
/*** Games ***/

#rezults_bg
{
background: url('/public/images/league/NHL/rezults_bg.png') no-repeat;

}
#rezults
{
margin: 0 auto;
width:830px;
}

#games .prev, #games .next {
background:black;
display:block;
width:27px;
height:80px;
float:left;
cursor:pointer;
margin-right:12px;
}

#games .next {
background:black;
margin-left:12px;
}

#games .prev:hover, #games .next:hover {
background-position:-25px 0;
}

#games .scrollable {
width:690px;
height:80px;
position:relative;
overflow:hidden;
float:left;
margin:0;
padding:0;

}

#games .scrollable .items {
width:100000px;	
position:absolute;
clear:both;
}

#games .scrollable .items div {
background: url('/public/images/league/NHL/PO_bg.png') no-repeat;
width:162px;
color:#292929;
font-weight:bold;
font-size:14px;
height:80px;
float:left;
margin-right:12px;
z-index: 10;
}
#POm {
background: url('/public/images/league/NHL/big_bg.png') no-repeat;
height:109px;
}

.league_open fieldset {
  margin-top: 15px;
  width: 400px;
  -moz-border-radius: 0.278em 0.278em 0.278em 0.278em;
  border: 1px solid #999;
  color: #2C2C2C;
  font-size: 11px;
  padding: 7px;
}

.league_open legend{
  background:#218FCB;
  padding: 5px;
    -moz-border-radius: 0.278em 0.278em 0.278em 0.278em;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    left: 0.5em;
    margin: 0;
    color:#fff;
    font-weight:bold;
}
.league_open .field_content {
  margin-left: 10px;
}

.league_open .accept {
  border: 0px;
  background:none;
  width: 12px;
  height: 12px;
  background-image: url('/public/images/accept.png');
  background-repeat:no-repeat;
  cursor:pointer;
  position:absolute;
  margin-left: 3px;
  margin-top:1px;
  box-shadow:none;
  border-radius:0;
}

.league_open .decline {
  border: 0px;
  background:none;
  width: 12px;
  height: 12px;
  background-image: url('/public/images/decline.png');
  background-repeat:no-repeat;
  cursor:pointer;
  position:absolute;
  margin-left: 3px;
  margin-top:2px;
}

#game_score{
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    width: 77px;
	vertical-align:middle;
	padding:6px;
}
#game_score div {
color: #fff;
font-size: 16px;
font-weight:bold;
text-align:center;
}
.game_team{
width: 290px;
font-size: 20px;
font-weight:bold;
color: #0066B0;
}
#team_stats{
width: 650px; font-size: 14px; font-weight:bold;
}
#team_stats td {
padding: 4px;
}

#match_players td{
padding: 4px;
background: #E8E8E8;
border: 1px solid #B0B0B0;
text-align:center;
font-size: 11px;

}
#match_players tr.head {
background: #ccc;
text-align:left;
}

.TOP img {
    height:14px !important;
}

.top-box {
	float:left; 
	padding-left: 10px; 
	padding-top: 20px; 
	font-size: 13px; 
	font-weight:bold;"
}

.P_procents {
	width:20px;
}

.StatisticsTeams th {
	padding:5px;
	cursor:pointer;
	color:white;
	font-weight:bold;
	text-align:center;
}

/* F1 */

#pilots th  {
	text-align:center;
	width:10px;
	padding:2px 0px 2px 0px;
		font-weight:bold;
}

#pilots #head {
    height: 36px;
}

#pilots th.track {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
}

#pilots th  img {
	border: 1px solid #666;
	border-radius:3px;
}

#pilots td {
	font-size:12px;
	font-family:arial;
}


/**
 * New css for league (FIFA)
 */
 
.fifa-teams {
	width: 150px; 
	height: 120px; 
	text-align:center; 
	float:left;
}

#myinfo-left {
	float:left;
	width:100px;
	margin-top:1px;
}

#myinfo-right {
    float: left;
    margin-left: 54px;
    width: 516px;
}

#myinfo-left #games-left {
	height: 300px; 
	overflow:auto; 
	text-align:center;
}

#myinfo-left #games-left-count {
    color: #999999;
    margin-top: 10px;
    text-align: center;
}

#myinfo-left #games-left-count  span {
	font-weight:bold;
	color:#0077CC;
}

#myinfo-left #team-info  {
	text-align:center;
}

#myinfo-left #team-info .warning.yellow{
	color:#FFCC00;
}

#myinfo-left #team-info .warning.red{
	color:#FF0000;
}

#myinfo-left #team-info .warning.green{
	color:#009900;
}