ul#cl { 
padding: 0px;
margin: 0px;
}

#countries_list {
list-style-type:none;
}
#countries_list li { 
padding: 5px 0px 5px 10px;
}
#reg_bg{
background: url('/public/images/V2/choose_country.jpg') no-repeat; 
width: 920px; 
height: 500px;
}