.styledCheckbox
   {
   	height:13px;
    	width:13px;
   	filter:alpha(opacity=0.0);
   	opacity:0.0;
	outline:0
	cursor:pointer;
	padding-top: 2px;
   }
   
.styledCheckboxWrap
{
	position:relative;
	float:left;
	background:url("/public/images/checkbox.gif") no-repeat top left;
	width:13px;
	height:13px;
	margin:3px;
	cursor:pointer;
}
#checkbox1{ cursor:pointer;padding-top: 2px;}
.wrapChecked{background-position: 0px -13px}
