#pieraksti h2{
	float:left;
	width:650px;
	margin-bottom:16px;
}

#pieraksti a{
 color:#434343;
 font-weight:bold;
 text-decoration:none;
}

#pieraksti a:hover{
	text-decoration:underline;
}

#pieraksti span{
	color:#434343;
	font-size:12px;
}

#pieraksti p.niks{
	margin:0px 5px;
	float:left;
}

#pieraksti p.teksts{
	width:620px;
	color:#5a5a5a;
	background:#f2f2f2;
	margin-bottom:10px;
	border:1px solid #d6d6d6;
	padding:10px;
	margin-top:2px;
}

#pieraksti form{
	float:left;
}
#pieraksti textarea{
	width:400px;
	height:50px;
}

/*turniru speletaji*/

.speletaji th, td{
	border:1px solid #bababa;
	text-align:center;
}

.speletaji th{
 padding:9px 12px;	
 background: #ededed;
 border-bottom:2px solid #bababa;
 color:#565656;
}

.speletaji td{
	background: #fff;
	color:#777777;
	padding:2px 0px;
}

.speletaji a{
	color:#2ea2c8;
	font-weight:bold;
	text-decoration:none;
}

.speletaji a:hover{
	text-decoration:underline;
}

.speletaji img{
	width:50px;
}

/*grupu speles*/

.grupu_speles{
	font-size:11px;
}

.grupu_speles td, th{
	border:1px solid #e0dfe3;
}
.grupu_speles td{
	border:1px solid #e0dfe3;	
	text-align:center;
	padding:2px 1px;
}

.grupu_speles th{
	background: #f0f0f0;
	text-align:center;	
	padding:1px 1px;
}

.grupu_speles th.skaits{
	border-bottom:2px solid #e0dfe3;
	width:50px;
}

.grupu_speles th.dalibnieki{
	border-right:2px solid #d0d0d0;
}

.grupu_speles td.vidus_ruutina{
	background:#fff;
}

.grupu_speles table{
	width:639px;
}

.grupu_speles a{
	color:#11799b;
	font-size:12px;
	font-weight:bold;
}

.grupu_speles th.punkti{
	border-bottom:2px solid #e0dfe3;
	border-left:2px solid #e0dfe3;
	width:80px;
}

.grupu_speles td.punkti{
	border-left:2px solid #e0dfe3;
}

/* izslegsanas speles*/

.izslegsana th{
 background: #ededed;
 min-width:150px;
 text-align:center;
 border:1px solid #bababa;
 border-bottom:2px solid #bababa;
 padding:7px;
}

.izslegsana td{
 background:#fff;	
 text-align:center;
 border:1px solid #bababa;	
 text-align:center;
 color:#777;
 padding:3px;
 }

.izslegsana h1{
	font-size:10px;
	font-weight:bold;
}

.nu_kas{
	background:#000;
}

#last_scores img{
	width:38px;
	height:auto;	
}

#last_scores a{
	color:#434343;
	font-size:10px;
	text-decoration:none;
}

#last_scores a:hover{
 	text-decoration:underline;	
}

.scores{
	width:230px;
	padding:5px 0px;
	overflow:hidden;
	color:#434343;
	margin: 0 auto;
}

.score_left{
	float:left;
	width:71px;
	margin:3px;
	text-align:center;
	display:inline;
}

.score_right{
 	margin:3px;
	float:right;
	width:71px;
	text-align:center;
	display:inline;
}

.score_center{
	float:left;
	margin-top:3px;
	width:70px;
	text-align:center;
	display:inline;
}

.score_center span{
	color:#cb0000;
	font-size:9px;
	text-align:center;
}

.score_center p{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#454545;

}
.scores a{
	font-weight:bold;	
}