/* Vestules - Letters*/
div.vestules{

}

.vestules h1{
 	font-size:16px;
 	font-weight:bold;
 	color:#565656;
	width:621px;
 	margin-bottom:7px;
}


#vestules a{
	color:#003e7e;
}

#vestules form{
	float:left;
	width:621px;
}

#vestules .virsraksti{
	color:#444444;
	padding:0px 5px;
	height:30px;
	line-height:28px;
	font-size:11px;
	font-weight:bold;
	font-family:tahoma;
	border:1px solid #dfdfdf;
	border-top:1px solid #b9b9b9;
	background:url(../images/mail/vestules_th.gif) repeat-x;
}

#vestules .vestule{
	color:#444444;
	padding:0px 5px;
	height:30px;
	line-height:28px;
	font-size:11px;
	font-family:tahoma;
	border:1px solid #dfdfdf;
	border-top:1px solid #b9b9b9;
}


#vestules #virsraksti div{
 	float:left;
}

#vestules #sanemtas div{
	float:left;
}

#vestules #sanemtas {
	height:25px;
	line-height:25px;
	font-size:12px;
}

#vestules #sanemtas input{
	margin:6px 3px;
}

.msgcheck{
 	width:13px;
 	margin: 7px 3px 0px 3px;
 	float:left;
}
.msgdate{
	width:150px;
}

.msgtoolbar{
	background:#fff;
}

.msgarea{
	height:200px;
	width:577px;
}

.msgtext_home{
	line-height:16px;
	padding:5px 50px 0px 20px;
	border-top: 1px solid #eeeeee;
	width:549px;
	background:#fff;
}

.msgtext_home ul,.msgtext_away ul{
 float:right;	
 	margin:3px -46px 8px 0px;
}

.msgtext_home li,.msgtext_away li{
	display:inline;
	float:left;
	margin-left:5px;
}

.msgtext_home a,.msgtext_away a{
	background:#fff;
	border-top:1px solid #d4d0c8;
	border-bottom:1px solid #808080;
	border-left:1px solid #d4d0c8;
	border-right:1px solid #808080;
	padding:2px 15px;
	text-decoration:none;
}

.msgtext_away{
	line-height:16px;
	padding:5px 50px 0px 20px;
	border-top: 1px solid #eeeeee;
	width:549px;
	background:#fff;
}

.msgtitle_home,.msgtitle_away,.msgdate,.msgnick{
	height:25px;
}

.msgtitle_home,.msgtitle_away{
	width:355px;
}
.msgbox_home,.msgbox_away{

	font-size:12px;
	min-height:27px;
	line-height:27px;
	border:1px solid #dfdfdf;
	border-top:0px;
}

#notification{
	border:1px solid #d7d7d7;
	background:#f6f6f6;
	font-size:12px;
	color:#333;
	height:25px;
	padding:0 10px;
	line-height:25px;
}

#informacija {
	margin-top:-9px;
	float:left;	
	background:url(../images/mail/vestules_bar.gif) repeat-x;
	height:31px;
	width:620px;

}

#informacija_left{
	background:url(../images/mail/vestules_bar_left.gif) left;
	height:31px;
	margin-top:-9px;
	width:6px;
	float:left;
}

#informacija_right{
	background:url(../images/mail/vestules_bar_right.gif) no-repeat ;
	height:31px;
	width:6px;
	float:left;
	margin-top:-9px;
}

#informacija ul{
	font-size:12px;
}

#informacija li{
	display:inline;
	padding-right: 30px;
}

#informacija a{
	color:#003e7e;
	text-decoration:none;
}

#informacija a:hover{
	text-decoration:underline;
}

#informacija img{
	margin-bottom:-3px;
}

#check {
	font-size:12px;
	color:#003e7e;
	margin-bottom:3px;
}
#check a{
	font-size:12px;
}

td.delete a{
	padding:0;
	font-size:12px;
}

td.delete{
	border:0;
	padding:0;
}

table.rakstit td{
	text-align:left;
	border:0px;
	font-size:12px;
	line-height: 27px;
}

table.rakstit{
	width:100%;
}

table.atbildet td{
	text-align:left;
	border:0px;
	font-size:12px;
	line-height:20px;
}

table.atbildet{
	width:100%;
}
