.yt-alert-promo {
    background: -moz-linear-gradient(center bottom , #D9D9D9 0%, #F0F0F0 40%) repeat scroll 0 0 #F0F0F0;
    box-shadow: 0 1px 2px #838383;
    height: 189px;
}

.yt-alert {
    margin: 5px 0;
    overflow: hidden;
    padding: 2px 24px 2px 4px;
    position: relative;
}

.yt-rounded {
    border-radius: 5px 5px 5px 5px;
}

#videos #right .block .content{
    padding:10px;
}

#videos ul li.add {
    background: url('../img/add-video.png') no-repeat;
    padding-left:20px;
    background-position: 1px 0px;
    line-height:20px;
}

#videos ul li.my-videos {
    background: url('../img/my-videos.png') no-repeat;
    padding-left:20px;
    line-height:20px;
}

#videos ul li.active a {
    color:#F84512;
    text-decoration:underline;
}

.add-video td {
    line-height:24px;
}

.add-video .first {
    vertical-align:top;
    
    padding-right:4px;
    text-align:right;
}

.add-video td img {
    margin-left: 5px;
    position: absolute;
}

.example {
    color:gray;
    font-size:10px;
}

#newest {
    width: 663px;
}

#newest td{
    background: -moz-linear-gradient(center bottom , #D9D9D9 0%, #F0F0F0 40%) repeat scroll 0 0 #F0F0F0;
    box-shadow: 0 1px 2px #838383;
    display: inline-block;
    height: 148px;
    margin: 12px;
    padding: 10px;
    text-align: center;
    width: 121px;
}
.video-div{
    background: -moz-linear-gradient(center bottom , #D9D9D9 0%, #F0F0F0 40%) repeat scroll 0 0 #F0F0F0;
    box-shadow: 0 1px 2px #838383;
    display: inline-block;
    height: 148px;
    margin: 12px;
    padding: 10px;
    text-align: center;
    width: 121px;
}

#newest .video-title,.video-div .video-title {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    vertical-align: bottom;
}


#newest .video-comments,.video-div .video-comments {
    background-color: black;
    background-image: url("/public/themes/gamemaster/images/comment_count.png");
    background-position: 12px 4px;
    background-repeat: no-repeat;
    border-radius: 0 0 5px 5px;
    color: #CCCCCC;
    font-size: 11px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 64px;
	margin-top:-2px;
}

#newest .video-comments span,.video-div .video-comments span {
    left: 32px;
    position: absolute;
    top: 2px;
}
#newest .video-comments span a,.video-div .video-comments span a{
    color:#ccc;
    text-decoration:none;
}

.video-outer {
    margin-left:2px;
}

#video-rating {
    background: none repeat scroll 0 0 #151515;
    border-radius: 0 0 5px 5px;
    color: #CCCCCC;
    height: 28px;
    width: 300px;
    float:left;
	margin-top: -2px;
}

#video-stats {
    background: none repeat scroll 0 0 #151515;
    border-radius: 0 0 5px 5px;
    color: #CCCCCC;
    float: right;
    height: 28px;
    margin-right: 7px;
    width: 70px;
    position:relative;
	margin-top: -2px;
}

#video-stats .icon {
    background: url("/public/img/video-stats.gif") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    line-height: 28px;
    margin-left: 10px;
    margin-top: 3px;
    width: 20px;
} 

#video-stats .count {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    left: 32px;
    margin-top: 5px;
    position: absolute;
}

#video-stats .count.up {
    color:#009900;
}

#video-stats .count.belove {
    color:#990000;
}

#video-rating #video-vote {
    margin:0 auto;
}

#video-rating #video-vote form{
    margin-left: 20px;
    padding-top: 2px;
    float:left;
}

#video-rating #video-vote .vote-up-button {
    background: url("/public/img/vote-up.png") repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    height: 23px;
    width: 20px;
    color:transparent;
}

#video-rating #video-vote .vote-down-button {
    background: url("/public/img/vote-down.png") repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    height: 23px;
    width: 20px;
    color:transparent;
}

#video-rating #video-vote .video-desc {
    display: inline-block;
    margin-left: 20px;
    margin-top: 7px;
}
.rand-videos {
    margin: 0 auto;
    width: 163px;
}

#video-edit a {
    background: url("/public/img/edit-video.gif") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 20px;
}

#video-desc {
    color:#666;
    margin:10px;
}

#videos .author {
    color:#666;
    margin-bottom:5px;
}

#video-feed {
	float:left;
}

#video-feed .twitter,#video-feed .facebook  {
	margin-top:6px;
	margin-left:30px;
	margin-right:30px;
	float:left;
}

