.checkin-button {
    width:auto !important;
    min-width:100px !important;
}

.checkin-button.checkin-countdown {
    cursor:wait;
}

#guider {
    width:400px;
    height:300px;
    background:white;
    padding:10px;
    position:absolute;
    top:-320px;
    left:50%;
    margin-left:-200px;
    z-index:999;
    border:1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}

a.myteam-leave {
    font-size: 10px;
    color: #f96d3c;
    float: right;
    margin-top: 7px;
}

#guider ul {
    padding:0;
    list-style-type: circle;
    list-style: circle;
    padding-left:20px;
}

#guider ul li {
    margin-bottom:8px;
}

#guider .guider_button {
    height: 36px;
    padding: 5px 10px;
    background: none repeat scroll 0% 0% #41A800;
    color: #FFF;
    margin-left: -132px;
    cursor: pointer;
    font-size: 15px;
    line-height: 33px;
    text-transform: uppercase;
    box-shadow: -3px 0px 10px #41A800;
    text-align: center;
    width: 320px;
    margin-top: 30px;
    position: absolute;
    bottom: -46px;
    left: 171px;
}

.ui-dialog {
    z-index:9999 !important;
}

.logged_in img {
    position:absolute;
    left:0;
}


.wrapper {
    width: 964px;
    margin: 0px auto;
    z-index: 998;
    position: relative;
}


iframe body{
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.stream-image {
    position: relative;
}

/*
 * Messages
 */
.messages {
	border: 1px solid;
	margin: 10px 0px;
	text-align:center;
}
.messages.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.messages.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.messages.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.messages.error {
	color: #D8000C;
	background-color: #FFBABA;
}

.register-form-side {
	width: 247px;
	position: absolute;
    top: -313px;
    right: 41%;
    margin-left:-126px;
	padding-top:20px;
	padding-bottom:20px;
    z-index:99999;
}

.register-form-side .content {
    background: #fdfcfc;
    box-shadow: 0px 0 22px #41A800;
    padding: 8px;
    position: relative;
    z-index: 99;
    font-size: 11px;
}

.register-form-side .messages {
	text-align:center;
	padding-left:0;
}

.register-form-side .messages ul {
	padding:0;
}

.register-form-side #register_form {
	margin-left:11px;
	width:221px;
	padding-top:20px;
	padding-bottom:20px;
}

.register-form-side .label {
    height: 36px;
    padding: 5px;
    background: #41A800;
    position: absolute;
    color: white;
    margin-left: -95px;
    cursor: pointer;
    font-size: 15px;
    line-height: 33px;
    text-transform: uppercase;
    box-shadow: -3px 0 10px #41A800;
    writing-mode: tb-rl;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 112px;
    margin-top: 30px;
    position: absolute;
    bottom: -46px;
    left: 171px;
}

#block-search-block input[type="text"] {
	width:120px;
	float:left;
	height: 14px;
	margin-top: 4px;
	line-height: 16px;
	font-size:10px;

}

#top_line ul {
	z-index: 100;
	position: relative;
}
#block-search-block input[type="submit"] {
	width:30px;
	background: url("../img/search_button.png") no-repeat;
	color: transparent;
	border: 0;
	box-shadow: none;
	margin-top: 4px;
	margin-left: 2px;
}
#block-search-block {
	position:absolute;
	right: 181px;
	top: 5px;
}

#header {
	position:relative;
}

.reset-password {
	float: right;
	font-size: 11px;
	margin-top: 6px;
}

#language-switch {
	float: right;
	margin-top: 12px;
	z-index:99;
}

#language-switch a {
	display:inline-block;
	margin-left:5px;
}

#language-switch a.active {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/**
  *	Team
 */
 
#noteam {
	background: url("../../../images/V2/teams/noteam.png") no-repeat top center;
	width:940px;
	height:523px;
	position:absolute;
}

#noteam_box {
	background: url("../../../images/V2/teams/noteam_box.png") no-repeat top center;
	width:450px;
	height:450px;
}

/**
  *	RSS
 */
#rss {
	margin-top:20px;
	clear:both;
}
#rss .clear {
	margin-bottom:5px;
}
#rss .rss-item {
	background: none repeat scroll 0 0 #f0f0f0;
	text-align: center;
	width: 176px;
	height: 140px;
	margin: 0 2px 5px;
	float: left;
	border-radius:2px;
	padding:8px;
	padding-left:5px;
	padding-right:9px;
	border:1px solid #ccc;
}
#rss .rss-item span.img {
	height:101px;
	overflow:hidden;
	display: block;
}

#rss .rss-item a {
	color:black;
}

.answer-inline {
	color: #484848;
	font-size: 11px;
	margin-left: 68px;
	margin-bottom: 5px;
}

.answer-inline span {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 4px 0 0;
	vertical-align: 2px;
}

#myinfo-right .scores .team1_score input, #myinfo-right .scores .team2_score input{
	width:20px;
	
}

#myinfo-right .scores .team1_score,#myinfo-right .scores .team2_score {
	width:32px;
}

#myinfo-right .scores .label {
	width:130px;
}

#myinfo-right .scores {
	width:auto;
	margin:0;
}
/**
  *	New css V1.1
 */
#navigation ul {
	margin:0;
	padding-left:16px;
}	 
#navigation li {
	display: inline-block;
	height: 34px;
	margin-left: 6px;
	margin-right: 6px;
	background: url("../img/navigation_bg.png") repeat-x;
	text-align: center;
	line-height: 36px;
	border-bottom:3px solid #1795d0;
	border-top:1px solid #3870e2;
	border-left:1px solid #3870e2;
	border-right:1px solid #3870e2;
	border-radius:2px 2px 0px 0px;
}

#navigation li:hover {
	border-bottom:3px solid #FBA082;
}

#navigation li.dropdown:hover {
	border-bottom:3px solid #1795d0;
}

#navigation li a {
	color:white;
	text-shadow: 2px 1px #0f6289;
	font-size:17px;
	text-transform:uppercase;
	display:block;
	height:100%;
	padding-left: 30px;
	padding-right: 30px;
}
#navigation li a:hover {
	text-decoration:none;
}
#navigation li.active {
	border-bottom:3px solid #f96d3c;
}

#navigation li.dropdown a {
	background: url("../img/navigation_dropdown.png") no-repeat;
	background-position: 96px 16px;
}

#navigation .submenu{
	margin-left: -1px;
	margin-top: 3px;
	position: absolute;
	z-index: 10;
	display: none;
	border-radius: 0px 0px 5px 5px;
	background: #1795d0;
}


#navigation ul li:hover .submenu{
  min-width: 170px;
  position:absolute;
 /* background:#3E3E3E;*/
  display:block;
}

#navigation ul li .submenu ul{
  display:block;
  position:relative;
  margin-left: -22px;
}

#navigation ul li .submenu ul li{
  display:block;
  clear:both;
  text-align:left;
  border:0px;
  width: 200px;
  background:none;
}

#navigation ul li .submenu ul li a{
  padding-left: 6px;
  width: 164px;
  background:none;
  font-size:12px;
}

#navigation ul li .submenu ul li a:hover{
  color:#ccc;
}

#userbox {
	width:330px;
	height:135px;
	/*background: url("../img/userbox_bg.png") no-repeat;*/
	position:relative;
}

#abc {
	background: url("../img/background.png");
}

#userbox-picture {
	position: absolute;
	top: 40px;
	left: 127px;
}

#userbox-picture img {
	border-radius:50px;
	border: 1px solid #1976a2;
}


#userbox a {
	position:absolute;
	color:#45c4ff;
	text-transform: uppercase;
}

.login #logged_in #userbox a:hover {
	text-decoration:none;
}


#userbox .link-admin {
	background: url("../img/admin_panel.png") no-repeat;
	height: 37px;
	width: 200px;
	position: absolute;
	top: 100px;
	left: 178px;
}

#userbox .link-admin a {
	left: 78px;
	top: 2px;
}

#userbox a.link-1 {
	top: 15px;
	left: 46px;
}
#userbox a.link-2 {
	top: 64px;
	left: 4px;
}
#userbox a.link-3 {
	top: 105px;
	left: 34px;
}
#userbox a.link-4 {
	top: 15px;
	left: 204px;
}

#userbox a.link-5 {
	left: 260px;
	top: 73px;
	color: #e87552;
}

#userbox a.link-6 {
	left: 199px;
	top: 103px;
}


/**
  *	Video
 */
.front-video {
	width: 137px;
	min-height: 125px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	/*border: 2px solid #f0f0f0;*/
}

#front_videos {
	margin-top:30px;
}

.front-video-title {
	font-size:10px;
	color:black;
	font-weight:bold;
	padding: 3px;
	display: block;
}
/**
  *	Rank
 */
table.rank {
	width:100%;
}

table.rank td{
	padding:3px;
	border:1px solid #ccc;
}
table.rank tr.odd {
	background:#E8E8E8 ;
}
table.rank td.rank-now{
	width:10px;
}

table.rank td.rank-now2 {
	width:22px;
	text-align:center;
}

table.rank td.rank-rating {
	text-align:right;
	width:50px;
}



table.rank .rank-p10 {
	width:30px;
	text-align:center;
}

table.rank .rank-win_procentes, table.rank .rank-lost  {
	width:68px;
}

table.rank .rank-win {
	width:48px;
}

table.rank .rank-games_played {
	width:77px;
}

table.rank .rank-last_played {
	width: 83px;
}

table.rank tr.head {
	color:#fff;
	background:#666;
}

#your_ip {
	color: #ccc;
	float: right;
	font-size: 11px;
	margin-top: 11px;
	margin-right: 5px;
}
#your_ip span {
	font-weight:bold;
}
form.get-coins {
	margin-top:22px;
}

table.forum {
	background:none;
}
#copyright {
	font-size:11px;
	margin-left:10px;
}
#logged_in div {
	color:#f0f0f0;
	text-align:right;
}

table.forum .head {
	background:#f0f0f0;
}

.forum_smiles .button, .toolbar .button {
	background:none;
}

/*
#menu li.home a {
	color:transparent;
	background: url("../images/home_icon.png") no-repeat;
	width:30px;
	height:30px;
	display:block;
}
*/
#wrapper_wrapper {
	border: 2px solid #D0D0D0;
	background:#fff;
	border-top:0px;
}

.content-content td{
	padding:20px;
}

body{
 	/*background:url("../img/bg.jpg") #49434f no-repeat center top;*/
 	background:url("../img/background.jpg") #000 no-repeat center top;
    background-attachment: fixed;
	font-family:Verdana;
	font-size:12px;
	overflow-y:scroll;
}

body.nohtml {
    background:none;
    overflow:hidden;
}

.live a{
    color:#FD6334 !important;
    font-size:15px;
    font-weight:bold;
}

a {
  color:#2694E2;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}
input,textarea{font-family:Verdana}
strong.gamemaster{color:#2694e2;font-weight:bold;}
strong.gamemaster span{color:#ff773b}

.wrapper{
	width:964px;
	margin:0px auto;
    position: relative;
}

#top_line .wrapper{
	width:940px;
	margin:0px auto;
}

#top_line{
	width:100%;
	float:left;
	height:39px;
	background:url(../img/top_line.png) repeat-x;
    position: relative;
    z-index:999;
}

#top_line ul{
	float: left;
	margin-top: 2px;
	padding: 0;
	margin-left: -20px;
}

#top_line ul li{
	float: left;
	margin-right: 7px;
	padding: 1px;
	vertical-align: 16px;
	width: 30px;
	margin-top: 0;
	height: 29px;
}

#top_line ul li a{
	width:100%;
	float:left;
	height:100%;
}

#top_line ul li a {
	opacity:0.5;
	background-color:#000;
}

#top_line ul li a:hover {
	opacity:1;
}
#top_line ul li.game_8ball a{background:url(../img/icons/8ball.png) no-repeat;}
#top_line ul li.game_nhl a{background:url(../img/icons/nhl.png) no-repeat;}
#top_line ul li.game_nba a{background:url(../img/icons/nba.png) no-repeat;}
#top_line ul li.game_fifa a{background:url(../img/icons/fifa.png) no-repeat;}
#top_line ul li.game_lol a{background:url(../img/icons/lol.png) no-repeat;}
#top_line ul li.game_haxball a{background:url(../img/icons/haxball.png) no-repeat;}
#top_line ul li.game_yugioh a{background:url(../img/icons/yugioh.png) no-repeat;}
#top_line ul li.game_nfl a{background:url(../img/icons/nfl.png) no-repeat;}

#top_line form{
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    width: 160px;
}

#top_line form input{
	width:154px;
	height:19px;
	border:0;
	padding-left:6px;
	color:#7c7c7c;
	background:#fafafa url(../images/search_bg.png) no-repeat 141px 4px;
	border-radius:2px;
	box-shadow:0px 0px 8px 0px rgba(99,99,99,0.2) inset;
	font-size:10px;
	outline:none;
}

#chat{
	width:360px;
	margin:0 auto;
	position:absolute;
	margin-left:-180px;
	left:50%;
	top:6px;
	z-index: 9999;
}
#your_ip {
	z-index: 100;
	position: relative;
}
#chat a#button{
	background: url(../img/chat.png) no-repeat bottom;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	width: 131px;
	height: 43px;
	left: 50%;
	margin-left: -65px;
	position: relative;
	text-align: center;
	line-height: 48px;
}
#chat a#button:hover {
	text-decoration:underline;
}
#header{
	height: 183px;
	margin-bottom: 0;
	width: 100%;
    z-index: 998;
}

#header #logo{
	background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
	float: left;
	height:100px;
	width: 347px;
	margin-left: 23px;
    margin-top: 40px;
}

#header #logo.xmas {
    background: url("../img/logo_xmas.png") no-repeat scroll 0 0 transparent;
    margin-top:0px;
    height:150px;
}

.chirstmas #header {
	margin-left:0;
}

.christmas #chat-box {
	width:340px;
	margin-left:20px;
}

.christmas #header #logo{
	width:266px;
	height:78px;
	background:url(../images/logo_christmas.png) no-repeat;
	float:left;
	margin-top:17px;
}

#header #logo a{
	width:100%;
	float:left;
	height:100%;
}

#header .login{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    width: 281px;
    background: url("../img/login_bg.png");
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #666;
}

#header .login.logged_in {
    background: none;
    padding:0;
    border-radius: 0px;
    box-shadow:none;
}

#header .login input.text{
	float:left;
	width:147px;
	height:22px;
	border:1px solid #c9c9c9;
	box-shadow:0px 0px 8px 0px rgba(99,99,99,0.2) inset;
	border-radius:3px;
	margin-bottom:4px;
	padding:0 5px;
	outline:none;
	line-height:22px;
	color:#7c7c7c;
	font-size:11px;
}

#header .login p.label{
	height:24px;
	float:left;
    color: #ccc;
	font-size:11px;
	line-height:24px;
	text-align:right;
	width:113px;
	padding-right:8px;
}

#header .login input.submit{
	color:#fff;
	font-weight:bold;
	font-size:11px;
	border:0;
	background:url(../images/login_submit_bg.png) repeat-x;
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.4) inset;
	border:1px solid #c94200;
	padding:0 11px;
	border-radius:3px;
	height:22px;
	float:right;
	margin-left:12px;
	cursor:pointer;
}

a.submit,a.submit22 {
	color:#fff;
	font-weight:bold;
	font-size:11px;
	border:0;
	background:url(../images/login_submit_bg.png) repeat-x;
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.4) inset;
	border:1px solid #c94200;
	padding:0 11px;
	border-radius:3px;
	height:22px;
	cursor:pointer;
	display:block;
	line-height:20px;
	text-align:center;
}

#header .login input.submit:hover{background:url(../images/menu_a_u.png)repeat-x;}

/*
#header .login a{
	text-decoration:none;
	color:#9a9a9a;
	font-size:11px;
	background:url(../images/login_forgot.png) no-repeat right;
	float:right;
	padding-right:16px;
	margin-top:6px;
}
*/
#header .login a:hover{text-decoration:underline;}

#header .login p#remember{
	float:right;
	color:#ccc;
	font-size:11px;
	margin-top:6px;
	margin-left:15px;
}

#header .login p#remember span{
    float: right;
    height: 13px;
    margin-left: 5px;
    margin-top: 0;
}

#menu{
	width:958px;
	float:left;
	height:39px;
	background:url(../images/menu_bg.png) repeat-x;
	border:1px solid #004789;
	border-radius:5px;
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.48) inset;
	margin-bottom:2px;
}

#menu ul{
    float: left;
    margin-top: 8px;
    padding-left: 10px;
}

#menu ul li,#menu ul li:hover{
	display:inline;
	float:left;
	font-size:14px;
	line-height:25px;
	font-weight:bold;
	padding:0 22px 0px 21px;
	background:url(../images/menu_li.png) no-repeat right;
}



#menu ul li a{
	color:#e8f5ff;
	text-decoration:none;
}

#menu ul li a:hover{
	text-decoration:underline;
}

#menu ul li.active{
	background:url(../images/menu_a.png) repeat-x;
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.5) inset;
	border-radius:3px;
	height:23px;
	border:1px solid #c94200;
	padding:0 20px;
	line-height:23px;
}

#menu ul li.active:hover{
		background:url(../images/menu_a_u.png) repeat-x;
}

#menu ul li.active a{
	color:#fff;
}

#menu ul li.last_link{background:0;}


#menu ul li.dropdown a{
	background:url(../images/menu_dropdown.png) right center no-repeat;
	padding-right:16px;
}

#menu ul li.dropdown:hover{
	background:url(../images/menu_dropdown_hover.png) repeat-x;
	height:41px;
	margin-top:-9px;
	margin-left:-1px;
	padding-top:9px;
	padding-left:22px;
}

#menu ul li.dropdown a:hover, #menu ul li.dropdown:hover a{
	color:#fff;
	text-decoration:none;
}

#menu a.lang{
	width:22px;
	height:19px;
	margin-top:9px;
	float:right;
	margin-right:9px;
}

#menu a.lv{background:url(../images/lang_lv.png) no-repeat;}
#menu a.en{background:url(../images/lang_en.png) no-repeat;}

#menu a.lang.active {
  opacity:0.6;
}

#slider{
	width:100%;
	float:left;
    height: 249px;
	position:relative;
}

#slider #featured_mark, .featured_mark{
	width:107px;
	height:107px;
	float:left;
	background:url(../images/mark_featured.png) no-repeat;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}

#slider #image{
	float:left;
	position:relative;
	z-index:1;
	width:600px;
	height: 100%;
	overflow:hidden;
}

#slider #about{
	width:580px;
	background:url(../images/slider_about.png) repeat-x;
	height:73px;
	float:left;
	bottom:0;
	left:0;
	position:absolute;
	z-index:2;
	padding:26px 10px 0 10px;
}

#slider #about h1{
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:4px;
	width:100%;
	float:left;
	height:22px;
	overflow:hidden;
}

#slider #about h1 a{
	text-decoration:none;
	color:#fff;
}

#slider #about h1 a:hover{
	text-decoration:underline;
}

#slider #about p{
	color:#adadad;
	line-height:18px;
	width:100%;
	float:left;
}

#slider #navigation{
    background: none repeat scroll 0 0 #000000;
    float: right;
    height: 100%;
    width: 360px;
}

#slider #navigation .item{
	width:340px;
	padding:6px 10px;
	height:71px;
	float:left;
	background:url(../images/slider_item_u.png) repeat-x;
	box-shadow:1px 1px 0px 0px rgba(255,255,255,0.20) inset;
	cursor:pointer;
}

#slider #navigation .item:hover{
	background:url(../images/slider_item_u_hover.png) repeat-x;
}

#slider #navigation .item .image{
	width:79px;
	height:65px;
	background:#4d4d4d;
	padding:3px;
	float:left;
	overflow:hidden;
}

#slider #navigation .item:hover .image{
	background:#616161;
}

#slider #navigation .item h2{
	width:244px;
	float:right;
	color:#818181;
	font-weight:bold;
	margin-top:11px;
	margin-bottom:6px;
	height:14px;
	overflow:hidden;
}

#slider #navigation .item:hover h2{color:#b3b3b3;text-decoration:underline;}
#slider #navigation .item:hover p{color:#7b7b7b}

#slider #navigation .item p{
	color:#555555;
	line-height:14px;
	font-size:11px;
	width:246px;
	height:28px;
	overflow:hidden;
	float:right;
}

.side_tournament .registered span {
    font-weight: normal;
}
#slider #navigation .active, #slider #navigation .active:hover{
	background:url(../images/slider_item_a.png) repeat-x;
}

#slider #navigation .active .image{
	background:#000;
}

#slider #navigation .active h2, #slider #navigation .active p, #slider #navigation .active:hover h2, #slider #navigation .active:hover p{
	color:#fff;
}

#slider #navigation a {
  color:#fff;
  text-decoration:none;
}
.content{
 	width:100%;
	float:left;
	margin-top:9px;
}

.index_content{
 	width:950px;
	float:left;
	margin-top:31px;
	margin-left: 6px;
}

.content #left{
	width:590px;
	float:left;
}

#left #news{
	width:100%;
	float:left;
}

h3{
	background:url(../images/h3_bg.png) no-repeat left;
	font-weight:bold;
	font-size:11px;
	text-transform:uppercase;
	color:#636363;
	padding-left:20px;
}

h3 a{
	color:#2694e2;
	float:right;
	text-transform:none;
	font-weight:normal;
}

#left h3{
	width:570px;	
	margin-bottom:11px;
}

#left #news .new{
	width:580px;
	float:left;
	margin-bottom:14px;
	margin-left:10px;
}

#left #news .new .image{
	width:86px;
	float:left;
}

#left #news .new .image a.thumb{
	border-radius:3px;
	width:86px;
	height:86px;
	background:#f1f1f1;
	float:left;
}

#left #news .new .image a.thumb span{
	width:70px;
	height:70px;
	overflow:hidden;
	float:left;
	margin:8px;
}

#left #news .new .image a.comment_count{
	width:50px;
	height:17px;
	font-size:11px;
	background:#f1f1f1;
	color:#a0a0a0;
	text-decoration:none;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	float:left;
	margin-left:18px;
}

#left #news .new .image a.comment_count span{
	background:url(../images/comment_count.png) no-repeat right;
	padding-right:18px;
	text-align:right;
	width:26px;
	margin-right:6px;
	float:right;
}

#left #news .new .image a.comment_count:hover{
	text-decoration:underline;
}

#left #news .new h4{
	font-size:14px;
	font-weight:bold;
	width:480px;
	float:right;
	margin-bottom:7px;
}

#left #news .new h4 a{
	color:#2694e2
}

#left #news a:hover{
	opacity:0.8;
}

#left #news .new p{
	color:#797979;
	width:480px;
	float:right;
	line-height:18px;
	font-size:11px;
}

#left #news .new p.about{
	font-style:italic;
	color:#c2c2c2;
	margin-top:5px;
}

#left #news .new p.about span, #left #news .new p.about a{
	color:#7f7f7f;
}

#left #news #older,#left #news #older2{
    float: left;
   /* max-height: 117px;*/
    margin-top: 3px;
    overflow: hidden;
    width: 100%;
}

#left #news #older2 {
  display:none;
}

#left #news #older .new,#left #news #older2 .new{
	width:275px;
	margin-right:10px;
	float:left;
}

#left #news #older .new h4,#left #news #older2 .new h4{
    font-size: 12px;
    height: 15px;
    margin-bottom: 1px;
    margin-top: 4px;
    overflow: hidden;
    width: 220px;
}

#left #news #older .new p, #left #news #older2 .new p{
	width:220px;
}

#left #news #older .new .image, #left #news #older2 .new .image{
	width:46px;
	float:left;
	height:46px;
	background:#f1f1f1;
    overflow:hidden;
}

#left #news #older .new .image a, #left #news #older2 .new .image a{
	width:40px;
	height:40px;
	float:left;
	overflow:hidden;
	margin:3px;
}

.load_more{
    margin: 0 auto;
	height:26px;
	border:1px solid #dbdbdb;
	background:url(../images/more_bg.png) repeat-x;
	border-radius:5px;
	width:588px;
	box-shadow:0 0 0 1px rgba(255,255,255,0.5) inset;
}

.load_more a{
	text-align:center;
	width:100%;
	text-decoration:none;
	color:#848484 !important;
	font-weight:bold;
	line-height:26px;
    display:block;
}

#left #latest_comments,#left #latest_comments2{
	width:100%;
	float:left;
	margin-top:30px;
}

#left #latest_comments .comment,#left #latest_comments2 .comment{
	width:570px;
	float:left;
	margin-left:10px;
	border-bottom:1px dotted #dbdbdb;
	padding-bottom:8px;
	margin-bottom:8px;
}

#left #latest_comments .hide_last_sepr,#left #latest_comments2 .hide_last_sepr{
	height:1px;
	font-size:0;
	background:#fff;
	float:left;
	width:100%;
	margin-top:-9px;
}

#left #latest_comments .comment p, #left #latest_comments2 .comment{
	font-size:11px;
	color:#797979;
	line-height:18px;
    width: 573px;
    overflow: hidden;
}

#left #latest_comments .comment p a, #left #latest_comments .comment p a{
	color:#2694e2;
}

#left #latest_comments .comment p.about, #left #latest_comments2 .comment p.about{
	font-style:italic;
	color:#c2c2c2;
}

#left #latest_comments .comment p.about span,#left #latest_comments2 .commenet p.about{
	color:#7f7f7f;
}

#left #latest_comments .comment p.about a,#left #latest_comments2 .comment p.about{
	font-weight:bold;
}

#left #latest_comments2 {
  margin-top:0;
  display:none;
}
#right #betway{
	background:url(../images/betway_bg.png) repeat-x;
	float:left;
	width:338px;
	border:1px solid #1c1c1c;
	height:43px;
	border-radius:5px;
	box-shadow:0 0 0 1px rgba(255,255,255,0.3) inset;
	margin-bottom:18px;
}

#right #betway p{
	line-height:43px;
	float:left;
	width:100%;
	text-align:center;
	color:#878787;
}

#right #betway p a{
	color:#93d000;
	font-weight:bold;
}

.content #right{
	width:340px;
	float:right;
}

#right .side{
	width:100%;
	float:left;
	margin-bottom:12px;
}

#right .side .block{
	width:338px;
	float:left;
	border:1px solid #d8d8d8;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#right .block .block_content{
	width:322px;
	float:left;
	margin-left:8px;
}

#right .side_style1 .block .title{
	background:url(../images/side_s1_title_bg.png) repeat-x;
	height:37px;
	border-bottom:1px solid #c7c7c7;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#right .side_style1 .block .title h3{
	margin-left:9px;
	line-height:38px;
}

#right .side_style1 .block .title ul.select{
	width:108px;
	float:right;
	margin-right:8px;
	margin-top:7px;
}

#right .side_style1 .block .title ul.select li{
	width:100%;
	float:left;
}

#right .side_style1 .block .title ul.select li a{
	width:98px;
	height:22px;
	border:1px solid #005579;
	background:url(../images/select_bg.png) repeat-x;
	box-shadow:0 0 0 1px rgba(255,255,255,0.3) inset;
	border-radius:3px;
	float:left;
	z-index:3;
	position:relative;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	line-height:22px;
	padding-left:8px;
}

#right .side_style1 .block .title ul.select li a:hover{
	text-decoration:underline;
}

#right .side_style1 .block .title ul.select li a span{
	background:url(../images/menu_dropdown.png) no-repeat right;
	width:90px;
	float:left;
}

#right .side_style1 .block .title ul.select li ul{
	width:106px;
	float:left;
	border:1px solid #c9c9c9;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	background:#e4e4e4;
	padding-top:8px;
	z-index:1;
	position:relative;
	margin-top:-5px;
}

#right .side_style1 .block .title ul.select li ul li a{
	width:90px;
	height:22px;
	border:0;
	background:0;
	box-shadow:none;
	border-radius:0;
	color:#666464;
	font-weight:normal;
	line-height:21px;
	background:url(../images/select_option.png) no-repeat left;
	margin-left:7px;
	padding-left:9px;
}

#right .side_style2 .title{
	height:38px;
	line-height:38px;
	float:left;
	width:322px;
	margin-left:8px;
}

#right .side_style2 .title h3{
	width:302px;
}

#right .side_style2 .title h3 a{
	float:right;
}

#right .side_style3 h3{
	margin:4px 0 8px 0;
	float:left;
}

#right .side_style3 ul.tabs{
	background:url(../images/side_s1_title_bg.png) repeat-x;
	height:37px;
	border-bottom:1px solid #c7c7c7;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding-left:8px;
	width:330px;
	margin-bottom:6px;
	margin-top:0;
}

#right .side_style3 ul.tabs li{
	float:left;
	margin-top:14px;
	padding:0 11px;
}

#right .side_style3 ul.tabs li a{
	font-size:11px;
	color:#929292;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}

#right .side_style3 ul.tabs li.active{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #c7c7c7;
	border-bottom:0;
	background:#fff;
	margin-top:4px;
	padding:0 10px;
	line-height:33px;
}

#right .side_style3 ul.tabs li.active a{
	color:#4e4e4e;
}

/* ar sideStyle1*/

#right .side_tournaments .title{
	margin-bottom:17px;
}

#right .side_tournaments .side_tournament{
	width:100%;
	float:left;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dotted #dbdbdb;
}

#right .side_tournaments .side_tournament .type{
	width:58px;
	float:left;
	text-align:center;
}

#right .side_tournaments .side_tournament h5{
	width:254px;
	float:right;
	margin-top:4px;
}

#right .side_tournaments .side_tournament h5 a{
	color:#2694e2;
}

#right .side_tournaments .side_tournament h5 a strong{
	font-weight:bold;
}

#right .side_tournaments .side_tournament a.register{
	background:url(../images/register_tournament.png) repeat-x;
	border-radius:3px;
	border:1px solid #e73a05;
	padding:0 8px;
	height:16px;
	line-height:16px;
	float:left;
	color:#fff;
	text-transform:uppercase;	
	text-decoration:none;
	box-shadow:0 0 0 1px rgba(255,255,255,0.3) inset;
	font-size:11px;
	margin-left:10px;
	margin-top:8px;
}

#right .side_tournaments .side_tournament p.registered{
 	margin-left:10px;
 	color:#000000;
 	text-transform:uppercase;
 	font-size:11px;
 	margin-top:10px;
 	float:left;
 	font-weight:bold;
}

#right .side_tournaments .hide_last_sepr{
	height:1px;
	font-size:0;
	background:#fff;
	float:left;
	width:100%;
	margin-top:-6px;
}

/* ar sideStyle2*/

#right .side_poll h6{
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
	width:100%;
	color:#2a2a2a
}

#right .side_poll p{
	width:100%
	float:left;
}

#right .side_poll p input{
	margin-top:7px;
	float:left;
	margin-right:7px;
}

#right .side_poll p span{
	line-height:24px;
}

#right .side_poll .block{
	padding-bottom:6px;
}

/* ar sideStyle3*/

#right .side_forum .post{
	float:left;
	width:100%;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px dotted #dbdbdb;
}

#right .side_forum .post p{
 	font-size:11px;
	width:100%;
	overflow:hidden;
	height:18px;
	line-height:18px;
	color:#797979;	
}

#right .side_forum .post p a{
	color:#2694e2;
}

#right .side_forum .post p.about{
	font-style:italic;
	color:#c2c2c2;
}

#right .side_forum .post p.about span{
	color:#7f7f7f;
}

#right .side_forum .post p.about a{
	font-weight:bold;
}

#right .side_forum .hide_last_sepr{
	height:1px;
	font-size:0;
	background:#fff;
	float:left;
	width:100%;
	margin-top:-6px;
}

#right .side_statistic p{
	color:#3b3b3b;
	width:100%;
	float:left;
	line-height:18px;
}

#right .side_statistic p span{
	font-weight:bold;
}

#right .side_statistic .block{
	padding-bottom:7px;
}

/* iekslapas */

.content #advert{
	width:100%;
	float:left;
	margin:60px 0;
	text-align:center;
}

#content_page #left{
	width:670px;
	float:left;	
}

#content_page #right{
	width:250px;
	float:right;
}

#content_page #right .block .block_content{width:232px;}
#content_page #right .side .block{width:248px;}
#content_page #right .block .block_content{width:232;}
#content_page #right .side_style2 .title{width:232px;}
#content_page #right .side_style2 .title h3{width:212px;}
#content_page #right .side_style3 ul.tabs{width:240px;}

/* news */

.article h1{
	color:#2a2a2a;
	font-size:18px;
	font-weight:bold;
	width:100%;
	float:left;
	margin-bottom:3px;
}

.article .info{
	width:100%;
	float:left;
	height:20px;
	margin-bottom:10px;
}

.article .info p{
	float:left;
	font-size:11px;	
	margin-top:6px;
	color:#c2c2c2;
	font-style:italic;
}

.article .info p a{
	color:#7f7f7f;
}

.article .info .addthis{
	float:right;
	 width: 259px;
}

.article .info .addthis iframe{
	float:right;
	margin-left:10px;
}

.article .new{
	margin-bottom:15px;
}

.article .new p{
	color:#3f3f3f;
	line-height:18px;
	text-align:justify;
	margin-bottom:5px;
}

#right .lidzigi_raksti .same_cat{
	width:100%;
	float:left;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dotted #dbdbdb;
	line-height:18px;
}

#right .lidzigi_raksti .same_cat a{
	color:#2694e2;
	font-size:11px;
}

#right .lidzigi_raksti .block_content{
	padding-top:6px;
}

#right .lidzigi_raksti .hide_last_sepr{
	height:1px;
	font-size:0;
	background:#fff;
	float:left;
	width:100%;
	margin-top:-6px;
}

#content_page {
  clear:both;
  min-height:600px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.48) inset;
  background:#fff;
  margin-bottom:20px;
  padding: 15px;
}

#logged_in #profile_img {
  border:1px solid #0098DE;
	border-radius:1px;
}

.login #logged_in a {
    background: none repeat scroll 0 0 transparent;
    margin-top: 1px;
    padding:0;
    float:none;
}

.login #logged_in .profile_links a{
  /*float:right;*/
}


input[type="submit"] {
    background: url("../images/login_submit_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #C94200;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    padding: 0 11px;
}

h1.title {
display:block;
margin-bottom:10px;
}

h1.title a {
  
  font-size:20px;
  font-weight:bold;
  color:#666;
  text-decoration:none;
  
}

#chat_textarea {
width: 922px; 
height: 100px; 
margin-bottom:5px;
    border: 1px solid #C94200;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    resize:none;
}

.lapaspuse {
    border: 1px solid #C8C8C8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.48) inset;
    padding:2px;
    line-height:20px;
    display:block;
    float:left;
    text-align:center;
    width:18px;
    margin: 1px;
}

.pages {
  margin: 10px auto;
  width: 927px;
}

.chat-page input[type="submit"] {
  clear:both;
  margin-bottom:20px;
}

.scribble-comment {
  position:relative;
}


#rank_list {
  width:100%;
}

#rank_list td {
  padding:5px;
}

.user .photo {
  text-align:center;
}

.user .photo p {
  margin: 26px 0px;
}

.user .tropheys p{
  margin: 18px 18px 18px 20px;
}


.user .all {
  float:right;
  margin-top:0px !important;
}
.progress0,.progress1,.progress2,.progress3,.progress4,.progress5,.progress6,.progress7,.progress8,.progress9
{
width:100px;
height:12px;
border:1px #999 solid;
background:url(/public/images/progress.gif) 0 0 no-repeat;
}
.progress0{background-position:0 0;}
.progress1{background-position:0 -12px;}
.progress2{background-position:0 -24px;}
.progress3{background-position:0 -36px;}
.progress4{background-position:0 -48px;}
.progress5{background-position:0 -60px;}
.progress6{background-position:0 -72px;}
.progress7{background-position:0 -84px;}
.progress8{background-position:0 -96px;}
.progress9{background-position:0 -120px;}

.user-box {
    background: #FBFBFB;
    border: 1px solid #E6E3E2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.48) inset;
    margin-bottom: 7px;
    padding:10px;
    width: 211px;
    min-height:30px;
    margin-bottom:20px;
}

.user .tropheys img, .user .photo img {
    border: 1px solid #E6E3E2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.48) inset;
    padding:3px;
} 

#user-left {
  float:left; 
  width: 241px;
  
}

#user-right {
  float:right;
  width: 427px;
}

.user #last_seen {
    background: url("/public/images/last_seen.jpg") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-size: 10px;
    padding-left: 20px;
}

.user #registered {
    background: url("/public/images/registered.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-size: 10px;
    height: 16px;
    padding-left: 20px;
    margin-top:5px;
}

.user #send_msg, .page-user #send_msg {
    background: url("/public/images/send_msg.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-size: 10px;
    height: 16px;
    padding-left: 20px;
    padding-top: 2px;
}

.user #tournaments_played {
    background: url("/public/images/tournaments_played.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-size: 10px;
    height: 16px;
    padding-left: 20px;
    padding-top: 2px;
}

#pieraksti h2{
	float:left;
	width:650px;
	margin-bottom:16px;
}

#pieraksti a,
#comments_list a {
 color:#434343;
 font-weight:bold;
 text-decoration:none;
}

#pieraksti a:hover,
#comments_list a:hover {
	text-decoration:underline;
}

#pieraksti span,
#comments_list .com-nr,
#comments_list .com-date {
	color:#434343;
	font-size:11px;
}

#pieraksti p.niks,
#comments_list .com-username {
	margin:0px 5px;
	float:left;
}

#pieraksti p.teksts,
#comments_list .com-text {
	width:620px;
	color:#5a5a5a;
	background:#f2f2f2;
	margin-bottom:10px;
	border:1px solid #d6d6d6;
	padding:10px;
	margin-top:2px;
    width: 573px;
    overflow: hidden;
}

#comments_list .com-text {
    width:648px;
}

#comments_list form{
    margin-bottom: 20px;
}

#pieraksti form,
#comments_list form{
	float:left;
}
#pieraksti textarea,
#comments_list textarea {
	width:656px;
	height:50px;
}



#menu .submenu{
    margin-left: -22px;
    margin-top: 5px;
    position: absolute;
    z-index: 10;
    display:none;
    border-radius:0px 0px 5px 5px;

}


#menu ul li:hover .submenu{
  min-width: 170px;
  position:absolute;
  background:#3E3E3E;
  display:block;
}

#menu ul li .submenu ul{
  display:block;
  position:relative;
  margin-left: -22px;
  margin-top: 8px;
}

#menu ul li .submenu ul li{
  display:block;
  clear:both;
  text-align:left;
  border:0px;
  width: 200px;
  background:none;
}

#menu ul li .submenu ul li a{
  padding-left: 6px;
  width: 164px;
  background:none;
  font-size:12px;
}

#menu ul li .submenu ul li a:hover{
  color:#ccc;
}



#content_page .profile #right{
	width:353px;
	float:right;
}
#content_page .profile #left{
	width:567px;
	float:left;
}

#content_page .profile #right .side .block {
  width:350px;
}
#content_page .profile #right .side .block p {
  margin:7px;
}

.profile .coins_history {
    color: #666666;
    margin-left: 2px;
    width: 346px;
}


#comments textarea {
    border: 1px solid #81BFED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
    height: 96px;
    margin-bottom: 5px;
    resize: none;
    width: 663px;
    font-size:12px;
    padding:3px;
}

.view-new #pieraksti p.teksts {
  width:648px;
      border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
}

textarea {
  font-size:12px;
  color:#313131;
}

#chat-box {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #313131;
    height: 21px;
    padding: 10px;
	font-size:12px;
	color:#666;
	border-bottom: 1px solid #1795d0;
}

#chat-box  span.time {
	font-size:11px;
	color:#999;
}

p.padding10 {
  padding:10px;
}

input[type="text"],input[type="password"], select {
    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 8px 0 rgba(99, 99, 99, 0.2) inset;
    color: #7C7C7C;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 4px;
    outline: medium none;
    padding: 0 5px;
    width: 210px;
}

select {
	padding:0;
}

input[type="text"].error,input[type="password"].error,select.error,textarea.error  {
	border:1px solid red;
}
textarea {
    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 8px 0 rgba(99, 99, 99, 0.2) inset;
    color: #7C7C7C;
    float: left;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 4px;
    outline: medium none;
    padding: 0 5px;
    width: 500px;
    height:150px;
    resize:none;
}

.rakstit td {
  padding:3px;
}

.suggestionsBox {
	background: none repeat scroll 0 0 white;
	border: 1px solid #D2D3D3;
	border-radius: 4px 4px 4px 4px;
	color: #4D4D4D;
	font-size: 11px;
	margin: 4px 0 0 41px;
	position: absolute;
	width: 202px;
}

.upArrow {
	position: relative; 
	top: -8px; 
	left: 30px;
}
.suggestionList {
    margin: 0px;
    padding: 0px;
}

.suggestionList li {
    cursor: pointer;
    list-style-type: none;
    padding-left: 10px;
}

.suggestionList li:hover {
    background:url(../images/suggestions_h.png) repeat-y;
    color:#003e7e;
}

.help_button {
  padding-top:3px;
  display:block;
}

.help_button .description {
    color: gray;
    font-size: 10px;
    line-height: 19px;
    margin-left: 5px;
    position: absolute;
}

#messages table#inbox {
  width:100%;
}

#messages table#inbox td{
  padding: 5px;
}

.side_tournament .user-count {
    color: gray;
    display: block;
    float: right;
    margin-top: 10px;
    width: 103px;
}

#register {
	left: 70%;
	margin: 0 auto 0 -597px;
	position: absolute;
	z-index: 99999;
	top: 14px;
	width: 149px;
}


#register a#button{
 	background:url(../images/chat_shadow.png) no-repeat bottom;
 	line-height:30px;
	color:#fff;
	z-index:99999;
	text-decoration:none;
	float:left;
	text-transform:uppercase;
	font-weight:bold;
	width:131px;
	height:43px;
	left:50%;
	margin-left:-65px;
	position:relative;
}

#register a#button span{
	height:30px;
	background:url(../images/register_button_bg.png) repeat-x;
	border:1px solid #1E6700;
	border-radius:5px;
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.4) inset;
	width:131px;
	float:left;
	text-align:center;
	z-index:99999;
}

#register a#button span:hover{
	background:url(../images/register_button_bg_hover.png) repeat-x;
}

.description {
    color: gray;
    font-size: 10px;
}

#messages input[type="text"] {
  float:left;
} 

#follow {
  margin:0 auto;
  margin-bottom:15px;
  text-align:center;
}


#fb-root {
    float: right;
    width: 81px;
}

.new ul {
  margin-left:20px;
  list-style: disc;
  margin-bottom:7px;
}

#navigation h2 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.button {
    background: url("../images/login_submit_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #C94200;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    padding: 0 11px;
}


#footer {
	height:124px;
	width:960px;
	margin:0 auto;
	margin-bottom:0px;
}
#footer-left {
    float: left;
    width: 96px;
}

#footer-left a {
    background: url("/public/img/footer_logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 97px;
    margin-left: 15px;
    margin-top: 20px;
    width: 100px;
}

#footer-left a:hover {
	background-position: 0px 0px;
}

#footer-center {
    float: left;
    height: 100px;
    margin-left: 5px;
    width: 11px;
	margin-right:10px;
}

#footer-right {
	float:left;
	font-size:12px;
	color:#666;
	font-family:arial
}

#footer-right a {
	font-weight:bold;
	color:#666;
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
}

#footer-right a:hover {
	text-decoration:underline;
	color:#2e9de8;
}

#footer-menu1 {
	margin-top: 27px;
}
#footer-menu2 {
	margin-top:10px;
}

#footer-menu2 a {
	font-size:11px;
	margin-left:10px;
	margin-right:3px;
}	

#copyright {
	margin-top:10px;
}


/* -- Countdown -- */
#countdown {
	width:900px;
	 -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	clear:both;
    box-shadow: 0 1px 2px #000 inset;
	margin: 20px auto;
	border-radius:5px;
	color:white;
	font-size:13px;
	padding:10px;
	margin-bottom:0px;
	background-color:#B80000;
}

#countdown span {
	font-weight:bold;
	text-decoration:underline;
}

#countdown #countdown-box,#countdown #countdown-more {
	background: white;
	border-radius:5px;
	display:inline-block;
	color:black;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}

#content_page h3 {
	float:none;
	clear:both;
	margin-bottom:10px;
}

.padding10 {
	padding:10px;
}

#page-contacts .block_content {
	color:#3d3d3d;
}

#page-contacts  .label {
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    vertical-align: top;
}

#page-contacts   .message {
    height: 300px;
    width: 587px;
}

select {
    height: 24px;
    line-height: 10px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-top: 4px;
    width: 222px;
}

#noscript-bg {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#noscript-text {
    font-size: 18px;
    left: 0;
    line-height: 1.5em;
    padding-top: 70px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    z-index: 10000;
	color:#fff;
}

#interviews .interview a{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C2C2C2 #C2C2C2 -moz-use-text-color;
    border-radius: 1px 1px 1px 1px;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    display: block;
    height: 150px;
    overflow: hidden;
    padding: 4px 4px 0px 4px;
	position:relative;
    text-align: center;
    text-decoration: none;
    width: 303px;
}

#interviews .interview {
    float: left;
    height: 160px;
    margin: 0 22px 10px 0;
    overflow: hidden;
    width: 313px;
}

#interviews .interview .interview-title {
	background: url("../images/opacity_black.png");
    bottom: -40px;
    color: white;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    left: -2px;
    line-height: 30px;
    padding-left: 11px;
    position: absolute;
    text-align: left;
    width: 313px;
}

#interviews .interview a:hover .interview-title{
	bottom:0px;
}

#interviews .interview .interview-title span {
    display: block;
    font-family: arial;
    font-size: 11px;
    line-height: 17px;
}

.cup_status {
    display: block;
    float: left;
    width: 12px;
    height: 13px;
    background: url("../img/cup_status.png") no-repeat -9px -8px;
    border: aliceblue;
}

.cup_status.status-1 {
    background: url("../img/cup_status.png") no-repeat -30px -27px;
}

#slider #navigation #findteam_front .item .image {
    border:0;
    background:none;
}

.front-find-region {
    color: #b3b3b3;
    display: block;
    font-size:11px;
    line-height:15px;
}

.find-front-roles {
    display: block;
    width: 58px;
    margin-top: 7px;
    margin-left: -68px;
    text-align: center;
    line-height: 9px;
    height:30px;
}

.find-front-roles img {
    display:inline;
}

.find-front-roles .find-role {
    margin-right: 0px;
    display: inline-block;
    width: 16px;
}

#slider #navigation #findteam_front .item {
    display:none;
}
#slider #navigation #findteam_front .item.active_find {
    display:block;
}

#findteam_front {
    width: 360px;
    padding: 0px;
    height: 82px;
    float: left;
    background: url(../images/slider_item_u.png) repeat-x;
    box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.20) inset;
    cursor: pointer;
    position:relative;
}

#findteam_front .left-find {
    display: block;
    width: 41px;
    height: 26px;
    background: url('/public/img/icons/left_arrow.png') no-repeat center center;
    position: absolute;
    bottom: 4px;
    left: 0px;
}

#findteam_front .right-find {
    display: block;
    width: 41px;
    height: 26px;
    background: url('/public/img/icons/right_arrow.png') no-repeat center center;
    position: absolute;
    bottom: 4px;
    right: 0px;
}

#findteam_front .image {
    margin-left: 46px;
    width: 50px !important;
    margin-top: 4px;
    float: left;
}

#findteam_front .bx-wrapper .bx-viewport {
    left:0px;
    background:none;
    margin:0;
    padding:0;
    box-shadow:none;
    border:0;
}
#findteam_front ul li {
    padding:0;
    margin:0;
    height:82px;
    background:none;
    border:0;
}

.front-find-info {
    float: right;
    width: 254px;
    text-align: left;
    margin-top:15px;
}

.front-find-info h2 {
    font-size: 10px !important;
   line-height:15px;
    color: #818181;
    margin-top: -5px !important;
}

.find-front-desc {
    float: right;
    margin-top: -28px;
    width: 204px;
    height: 27px;
    font-size: 10px;
    color: #555;
    margin-right: 50px;
    overflow: hidden;
    word-break: break-word;
    line-height: 13px;
}

#right_300 {
    float:right;
    width:300px;
}

#left_615 {
    float:left;
    width:615px;
}


input.go.donation {
    display: block;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    padding-top: 6px;
    line-height: 17px;
    background-color: #8cc400;
    background: -webkit-linear-gradient(#8cc400, #62a801);
    background: linear-gradient(#8cc400, #62a801);
    border: 1px solid #549300;
    text-shadow: 1px 1px 5px #b1c69c;
    height:34px;
    width:100%;
    cursor:pointer;
}

input.go.donation:hover {
    background-color: #61a801;
    background: -webkit-linear-gradient(#61a801, #599803);
    background: linear-gradient(#61a801, #599803);
}

input.go:before {
    content:'<span></span>';
}

.input.go span {
    background:url("/public/img/my-app-add.png") no-repeat center center;
}

/**
 * Donations
 */
.page-donations #right_300 input[type="text"] {
    width:245px;
}

.page-donations #right_300 .form-field-anonymous .form-item-title {
    float:left;
    margin-right:5px;
}

.page-donations #right_300 .form-item-div {
    clear:both;
    margin-top:5px;
    margin-bottom:5px;
}

.page-donations #right_300 .form-field-amount select {
    width:112px;
}

.page-donations #right_300 button.go:before {
    background:url("/public/img/my-app-add.png") no-repeat center center;
    content: ".";
    color:transparent;
    width:20px;
    height:20px;
    display:block;
    float: left;
}

#loading_slider  {
    width:32px;
    height:32px;
    background: url('/public/img/loading_slider.gif') no-repeat center center;
    display:block;
}

.donater a {
    color:#61BFED;
}

.donater {
    font-weight:bold;
    font-size:18px;
}

.donater.anonymous {
    color:#ccc;
}

.amount {
    color:#61a801;
    font-weight:bold;
    font-size:22px;
    padding-right:20px;
}

.inside-donation {
    padding:10px;
}

#news-article-wrap * {
    font-size:13px !important;
    font-family: Tahoma, "Helvetica Neue", Helvetica, "Droid Sans", sans-serif !important;
    line-height: 15px !important;
}