body,div,dl,dt,dd,ol,li,h1,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0;border:0}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}caption,th{text-align:left}h1,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}.clear{clear:both;font-size:1px;line-height:0}fieldset,img,abbr,acronym{border:0}

body {
  font-size: 12px;
}
pre {
  background:yellow;
  padding: 10px;
  border:1px solid #999;
}

.front-new-id, .front-new-image {
  display:none;
}

.side_statistic #tournaments,.side_forum #hottest {
  display:none;
}


#content_page ul.tabs{
	background:url(../images/side_s1_title_bg.png) repeat-x;
	height:37px;
	border-bottom:1px solid #c7c7c7;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding-left:8px;
	margin-bottom:6px;
}

#content_page ul.tabs li{
	float:left;
	margin-top:14px;
	padding:0px 11px;
}

#content_page ul.tabs li a{
	font-size:10px;
	color:#929292;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}

#content_page ul.tabs li.active{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #c7c7c7;
	border-bottom:0;
	background:#fff;
	margin-top:4px;
	padding:0px 10px;
	line-height:33px;
}

#content_page ul.tabs li.active a{
	color:#4e4e4e;
}


.bx {
	margin-bottom:10px;
	border:1px solid #CCC;
	background-color:#F3F3F3;
	padding:7px 10px;	
	zoom:1;
	border-radius: 7px;
	-opera-border-radius: 7px;
	-icab-border-radius: 7px;
	-khtml-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-khtml-border-radius: 7px;
}


.bx.info{
	background-color: #FEEDD1;
	border-color:#f9c1a8;
}

.bx.white{
	background-color: #fff;
	border-color:#999;
}
.bx.error{
	border-color:#FF0000;
	background-color: #fff0f0;
}

ul { 
	list-style:none
}
.content-content ul {
	margin-left:10px;
	padding-left:10px;;
}