.pair_letter {
    color: #999;
    font-weight: bold;
    font-size: 8px;
    position: absolute;
    top: -19px;
}

.pair_bo3 {
    position: absolute;
    top: -23px;
    right:0;
    cursor:pointer;
}

.new pre {
    background:none;
    border:0;
}
#poll .form-option {
    margin-top:5px;
    margin-bottom:5px;
}

#poll .form-option input {
    margin-right:5px;
}

#poll h6 {
    margin-bottom:10px;
}

.register-form-side #register_form .item-captcha {
    height: 0px;
    padding:0;
    margin:0;
}
.page-forum .forums-categories.categories .data tr,
.page-forum .forums-categories.category .data tr{
    vertical-align: middle;
}
hr.subtle-divider {
    background-color: #d9d9d9;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #fbfbfb;
    color: #d9d9d9;
}


.page-forum .data tr {
    vertical-align: top;
}

.profile .forum-avatar.team-avatar {
    float:none;
    display: inline;
    margin-top:5px;
}

.user-level {
    margin-top:5px;
}
.forum-left {
    width:150px;
}

.submit22.left {
    float: left;
    margin-top: -2px;
    margin-right: 11px;
    line-height: 22px;
}


.forums-categories .form-submit {
    margin-top:5px;
}

.chat-inline {
    width: 801px;
    overflow: hidden;
    display: block;
    height: 16px;
    float: left;
    margin-top: 2px;
}

.top-teams .left-side {
    float:left;
    width:295px;
    overflow: hidden;
}
.top-teams .right-side {
    float:left;
    width:295px;
    overflow: hidden;
}

.top-teams .section>header>.title {
    font-size:1em;
}

.front .top-teams .profile-name {

}

.front .top-teams .top-team {
    width: 204px;
    font-size:1em !important;
}

.front .top-teams .matches.table a.row {
    width: 289px !important;
}


.front .top-teams .top-team .profile-name {
    font-size: 11px !important;
}



.cke_editor tr {
    background: none !important;
}
td.author {
    width: 111px;
}
.forums-categories .submit22 {
    margin-top: -28px;
    margin-right: 10px;
}
.forums-categories .icon, .forums-categories .topics, .forums-categories .replies {
    width:50px;
}

.forums-categories .last_activity {
    width:150px;
}

.forums-categories .name {
    width:500px;
}
th.center {
    text-align: center;
}
#clock {
    float: right;
    padding: 10px;
    padding-right: 5px;
    font-size: 11px;
    padding-top: 5px;
}

#clock span {
    font-weight: bold;
}
.page-partners #content_page #right {
    width: 388px;
    margin-top: -15px;
}

.page-partners #content_page #left {
    width: 470px;
}

.page-recruitment #content_page #right {
    width:352px;
}

.h33 {
    font-family: "nimbus-sans-condensed",Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin-bottom: .25em;
    font-weight: normal;
    color: #2694E2;
    display: block;
    font-size: 1.5em;
    margin-bottom: 2px;
    margin-top: 20px;
}


#wrapper_wrapper #content_page ul.menu.tabs.regions,
#wrapper_wrapper #content_page ul.menu.tabs.regions li.active{
    background:none;
    border:0;
}

#wrapper_wrapper #content_page ul.menu.tabs.regions li.active {
    margin-top:4px !important;
}
#wrapper_wrapper #content_page ul.menu.tabs.regions li a {
    background: #f0f0f0;
    padding: 4px;
    border-radius: 6px;
}
.page-recruitment #content_page #left {
    width: 566px;
    float: left;
}

.page-recruitment .recruit-title,
.page-partners .recruit-title{
    font-family: 'Futura W01 ExtraBold',Arial,sans-serif;
    letter-spacing: -6px;
    font-size: 72px;
    line-height: 58px;
    margin: 0 0 18px;
    text-transform: uppercase;
    margin-top:0px;
    margin-bottom:20px;
}

#twitch {
    border: 1px solid #666;
    height: 48px;
    width: 48px;
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
}
.intro-footer {
    margin-top:20px;
}
.page-recruitment .recruit-title2 {
    font-family: 'Futura W01 ExtraBold',Arial,sans-serif;
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    width: auto;
    margin: 0 auto;
    margin-left: 39px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.page-recruitment h1.title,
.page-partners h1.title {
    display: none;
}
.page-recruitment .recruit-title span,
.page-recruitment .recruit-title2 span,
.page-partners .recruit-title span{
    color:#2694E2;
    display: block;
}

.myTeam-edit .team-members select {
    width:83px;
    margin-right: 20px;
}
.cups-list .unpublished {
    background: #FF9999;
}

.section.user-teams .profile-name {
    padding-left: 5px;
    padding-top: 0px;
    margin-top: -1px !important;
}

table.nostyle, table.nostyle td, table.nostyle tr, table.nostyle td:hover {
    background: none !important;
    border:0 !important;
    box-shadow:none;
}

.team-region {
    display: block;
    font-size: 15px;
    padding-left: 25px;
    color: #666;
}
/**
 * op table
 */
table.data {
    border:0px;
    width:100%;
    background:none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0px;
}
table.data tr {
    background-color: #28282a;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border:0;
    border-radius: none !important;
}

table.data td {

}

a.submit22 {
    float:right;
}

table.data th {
    padding:10px;
    background:#1F1F21;
    border:0;
    color: #2694E2;
    text-shadow: 1px 1px 1px #000;
}

.front .profile-name {
    padding-left: 32px !important;
    font-size: 11px !important;

    margin-top: 9px !important;

}


.front .top-rating {
    padding-left: 25px !important;
    font-size: 17px !important;

    line-height: 0.85263em;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-top: 10px;
    color: #61BFED;
    text-shadow: 1px 1px #000;
}

.front .section {
    margin-bottom:0px !important;
}

.front .top-team {
    width:217px;
    background: #1F1F21;
}
.front .team.profile a.row {
    padding:0px;
}

.front .team.profile a.row:hover *{
    color:#22A6E6;
}
.front .team.profile a.row:last-child {
    margin-bottom:0px;
}

.front .profile-header {
    padding:3px;
}

.front a.row {
    width: 334px !important;
}

.front .matches.table .result-inner:after {
    content:"";
    margin-top: -18px;
    border-width: 19px;
}

.front .matches.table .result-inner {
    width: 0px;
    padding: 0;
}

.front .matches.table a.row {
    overflow: hidden;
}
.table .row>div {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.matches.table .result {
    font-size: 1.5em;
    line-height: 1.125em;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0,0,0,0.2);
    padding-right: 0;
    position: relative;
}

.table.matches .result {
    width: 20%;
}

.matches.table .row>div {
    padding-bottom: 5px;
    padding-top: 5px;
}

.matches.table .opponent {
    line-height: 45px;
    padding: 0 30px 0 130px;
    text-shadow: 1px 1px 1px #000;
}
.table.matches .opponent {
    width: 59%;
}

.table.matches .rating_points {
    width: 5%;
    font-size: 1.5em;
    line-height: 1.125em;
    text-shadow: 1px 1px 1px #000;
    text-align:right;
}

.matches.table .opponent a {
    color:#fff;
}

.matches.table a {
    color:#fff;
}
.matches.table a:hover {
    text-decoration:none;
}

.table .datetime {
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0,0,0,0.2);
    color: #92c83e;
    line-height: 1em;
}


.table.matches .datetime {
    width: 22%;
}
.table.points, .table.matches, .table.roster, .table.messages, .table.standings .body, .table.open-matches .body, .table.leaders>.body {
    font-family: "nimbus-sans-condensed",Arial,Helvetica,sans-serif;
}

.table .datetime .time {
    font-size: 1.5em;
    line-height: 0.9375em;
    color: white;
    display: block;
    text-transform: uppercase;
}
.matches.table .result-inner {
    padding-right: 30px;
    position: relative;
    text-align: center;
}
.matches.table .opponent img {
    float: left;
    margin-right: 10px;
}
.matches.table .result-inner:after {
    color: rgba(255,255,255,0.8);
    font-weight: 700;
    line-height: 0;
    letter-spacing: 1px;
    text-indent: -40px;
    text-align: left;
    left: 100%;
    border: solid transparent;
    content: "VS";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.matches.table .result-inner:after {
    border-color: rgba(0,0,0,0);
    border-width: 27px;
    border-left-color: rgba(0,0,0,0.2);
    border-left-width: 22px;
    top: 50%;
    margin-top: -26px;
}

.table.points .row, .table.matches .row, .table.roster .row, .table.messages .row, .table.standings .body .row, .table.open-matches .body .row, .table.leaders>.body .row {
    background-color: #28282a;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.table .row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.matches.table .result.won,
.matches.table .rating_points.won{
    color: #92c83e;
}

.matches.table .result.lost,
.matches.table .rating_points.lost {
    color: red;
}







.profile-header {
    background-color: #28282a;
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444), color-stop(100%, #28282a));
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-webkit-linear-gradient(#444, #28282a);
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-moz-linear-gradient(#444, #28282a);
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-o-linear-gradient(#444, #28282a);
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),linear-gradient(#444444,#28282a);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4),0 -1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4),0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 4px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4),0 -1px 0 rgba(0,0,0,0.5);
    border-bottom: 1px solid #28282a;
    padding:10px 20px;
}

.profile-extended {
    text-shadow: 1px 1px 1px #000;
    background-color: #202022;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin:0;
    padding:0;
}

.ratio-bar div {
    background-color: #1794CF;
    height: 8px;
    padding: 1px;
    border-right: 1px solid #28282a;
    background: -webkit-gradient(linear, 35% top, 65% bottom, color-stop(0%, #1794CF), color-stop(100%, #61BFED));
    background: -webkit-linear-gradient(35% top, #1794CF, #61BFED);
    background: -moz-linear-gradient(35% top, #1794CF, #61BFED);
    background: -o-linear-gradient(35% top, #1794CF, #61BFED);
    background: linear-gradient(35% top, #1794CF,#61BFED);
    -webkit-box-shadow: 0 0 10px #61BFED;
    -moz-box-shadow: 0 0 10px #61BFED;
    box-shadow: 0 0 10px #61BFED;
}

.glow {
    color: #61BFED;
    text-shadow: 0 0 10px #61BFED;
}

.team.profile .profile-extended>li {
    vertical-align: bottom;
}

.team.profile {
    color:white;
}

.team.profile .win-rate {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.team.profile .win-rate, .team.profile .reputation {
    padding-left: 10px;
    padding-right: 10px;
}

.profile-extended>li {
    display: table-cell;
    padding: 10px;
    width: 25%;
}
.profile-extended>li.badges {
    width:42%;
}

.ratio-bar {
    background: #444;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.2),0 1px 0 rgba(68,68,68,0.7);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.2),0 1px 0 rgba(68,68,68,0.7);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.2),0 1px 0 rgba(68,68,68,0.7);
    border: 1px solid black;
    color: black;
}

.ratio-stats {
    text-shadow: 1px 1px 1px #000;
    margin: 5px 0 0;
    text-align: center;
}

.win-rate .stat {
    color: #61BFED;
    text-shadow: 0 0 10px #61BFED;
}

.profile-name, .profile-slogan {
    padding-left: 105px;
}

.profile-name, .profile-name a, .profile-name a:visited {
    color: #61BFED;
}

.profile-name {
    font-size: 2.25em;
    line-height: 0.85em;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    word-break: break-word;
    margin-top: 10px;
}

.section>header>.title {
    font-size: 1.3125em;
    line-height: 0.85714em;
    text-shadow: 0 2px 0 #000;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    text-transform: uppercase;
}

ul.table {
    margin:0;
    padding:0;
}
.profile {
    font-family: "nimbus-sans-condensed",Arial,Helvetica,sans-serif;
}
.section {
    margin-bottom: 20px;
    position: relative;
}

.table.points .row, .table.matches .row, .table.roster .row, .table.messages .row, .table.standings .body .row, .table.open-matches .body .row, .table.leaders>.body .row {
    background-color: #28282a;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.table .row>div {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.roster.table .row>div {
    padding-bottom: 5px;
    padding-top: 5px;
}

.section>header>.title {
    font-size: 1.3125em;
    line-height: 0.85714em;
    text-shadow: 0 2px 0 #000;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    text-transform: uppercase;
}

.table.points, .table.matches, .table.roster, .table.messages, .table.standings .body, .table.open-matches .body, .table.leaders>.body {
    font-family: "nimbus-sans-condensed",Arial,Helvetica,sans-serif;
}

.table.expanded>li, .table.expanded>a, .table.expanded .body>a {
    margin-bottom: 5px;
}

.roster.table .row {
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.table .menu {
    background-color: #202022;
    background-color: rgba(32,32,34,0.95);
    font-family: "nimbus-sans-condensed",Arial,Helvetica,sans-serif;
    text-align: right;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.25s ease;
    -moz-transition: height 0.25s ease;
    -o-transition: height 0.25s ease;
    transition: height 0.25s ease;
}

.table .menu li {
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
}

.table .menu a {
    display: block;
    padding: 10px;
}

.roster.table .row>div {
    padding-bottom: 5px;
    padding-top: 5px;
}

.table.roster .image {
    width: 7%;
}
.table.roster .username {
    width: 23%;
}

.table.roster .ingame {
    width: 25%;
}

.table.roster .since {
    width: 25%;
}

.table.roster .role {
    width: 10%;
}

.team.profile.streak .profile-meta {
    max-width: 55%;
}

.profile-meta {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    top: 0;
    right: 0;
}

.profile.team {
    position:relative;
    clear: both;
}

.profile-meta>li {
    display: inline-block;
    margin: 10px;
}

.statistic {
    font-size: 1.1875em;
    line-height: 0.94737em;
    text-shadow: 0 0 10px rgba(0,0,0,0.75);
    font-family: "nimbus-sans-condensed",Arial,Helvetica,sans-serif;
    text-align: center;
}

.statistic .number, .statistic .number a, .statistic .number a:visited {
    color: #61BFED;
}

.statistic .number {
    text-shadow: 0 0 10px rgba(127,174,192,0.5);
}

.statistic {
    font-size: 1.1875em;
    line-height: 0.94737em;
    text-shadow: 0 0 10px rgba(0,0,0,0.75);
    font-family: "nimbus-sans-condensed",Arial,Helvetica,sans-serif;
    text-align: center;
}


.streaks-sprite, .streaks-cold-streak, div.streak-circle.l, .streak .l, .streaks-hot-streak, div.streak-circle.w, .streak .w, div.streak-circle {
    background: url(../img/streaks-s50e0246fed-a67d92d6273c71300f5d2ed87477aef6.png) no-repeat;
}

.streak .w, div.streak-circle {
    background: url(../img/streaks-s50e0246fed-a67d92d6273c71300f5d2ed87477aef6.png) no-repeat;
}

.streak .w, .streak .l {
    display: inline-block;
    vertical-align: middle;
    vertical-align: bottom;
}

.streaks-hot-streak, div.streak-circle.w, .streak .w {
    background-position: 0 -38px;
    height: 39px;
    width: 31px;
}


.streak .l {
    background-position: 0 0;
    height: 38px;
    width: 40px;
}

.profile-meta {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    position: absolute;
    top: 0;
    right: 0;
}

.statistic .number.large {
    font-size: 2.85em;
    line-height: 0.85263em;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.user-avatar, .team-avatar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: #444 0 1px 0px;
    -moz-box-shadow: #444 0 1px 0px;
    box-shadow: #444 0 1px 0px;
    border: 3px solid #000;
    color: #000;
    display: block;
}

.user-avatar, .team-avatar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.roster.table .row>div {
    padding-bottom: 5px;
    padding-top: 5px;
}

.section>header {
    background-color: #28282a;
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444), color-stop(100%, #28282a));
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-webkit-linear-gradient(#444, #28282a);
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-moz-linear-gradient(#444, #28282a);
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),-o-linear-gradient(#444, #28282a);
    background: url(../img/bg-tick-black-52dde69bd5687cbf6d3c7ed338221512.png),linear-gradient(#444444,#28282a);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4),0 -1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4),0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 4px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4),0 -1px 0 rgba(0,0,0,0.5);
    border-bottom: 1px solid #28282a;
    position: relative;
    z-index: 2;
}


.team-avatar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: #444 0 1px 0px;
    -moz-box-shadow: #444 0 1px 0px;
    box-shadow: #444 0 1px 0px;
    border: 3px solid #000;
    color: #000;
    display: block;
}

body.page-team h1.title {
    display:none;
}

.team-avatar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.profile .team-avatar {
    float: left;
}

.profile-photo-left {
    float: left;
    text-align:center;
}


/*
 no layotu
 */

.nolayout .menu.tabs {
    display:none;
}

.nolayout #cup-room {
    margin-bottom:0;
}
body.nolayout {
    background:white;
}

.nolayout .cup-info {
    display:none;
}

.nolayout #cup-room-chat {
    width:571px;
}

.nolayout .cup-room-chat-content {
    width:572px;
}

.nolayout #cup-room-chat form .item-text {
    width: 459px;
    height:20px;
}
/*
 * Cups
*/

#cup-room {
    margin-bottom: 5px;
    line-height: 25px;
    clear: both;
    padding-left: 00px;
    padding-right: 10px;
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
    padding-top: 2px;
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    padding-top: 7px;
    margin-bottom: 20px;
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #fff;
}

#cup-room-chat {
    float: left;
    width: 700px;
    border-right: 1px solid #E4E4E4;
    height: 501px;
}
#cup-room-online {
    float:right;
    width:200px;
}

#cup-room-chat form {
    border-top: 1px solid #E4E4E4;
    padding-left:10px;
    padding-top:1px;
    position:relative;
}

#cup-room-chat .form-submit {
    width: 150px;
    position: absolute;
    right: -63px;
    top: 0;
}
#cup-room-chat form .item-text {
    width:589px;
}
.cup-room-online-content {
    border-top: 1px solid #E4E4E4;
    padding-bottom:0px;
}

.cup-room-chat-content {
    border-top: 1px solid #E4E4E4;
    padding-bottom: 0px;
    overflow-y: scroll;
    width: 701px;
    height: 471px;
}

.cup-edit-link {
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    border: 0;
    background: url(../img/navigation_bg.png) repeat-x;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.4) inset;
    border: 1px solid #0f6289;
    padding: 0 11px;
    border-radius: 3px;
    height: 22px;
    cursor: pointer;
    display: block;
    line-height: 20px;
    text-align: center;
    width:100px;
    float:right;
    margin-top: 30px;
    position: absolute;
    bottom:5px;
    right:5px;
}
.cup-info .submit {
    float:right;
    width:100px;
}
#cup-add-result-box .result-input {
    width:24px;
}
#cup-add-result-box {
    z-index:9;
    position: absolute;
    margin-bottom: 5px;
    line-height: 25px;
    clear: both;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
    padding-top: 2px;
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    padding-top:7px;
    margin-bottom:20px;
    padding-bottom:5px;
    top: 0;
    left: -1px;
    width: 102%;
}
.tree-pair {
    position:relative;
}
.tree-pair .team {
    position:relative;
    padding-right: 4px;
    padding-left: 1px;
}

.tree-pair .team:hover .cup-add-result, .tree-pair .team:hover .cup-remove-result {
    display:block;
}

.tree-pair .team {
    font-size:9px;
}

.tree-pair.last img.winner{
    width: 130px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.cup-add-result {
    width:16px;
    height:16px;
    background: url("../images/cup_next.png") no-repeat;
    position:absolute;
    top: 7px;
    right: -9px;
    display:none;
}

.cup-remove-result {
    width:16px;
    height:16px !important;
    background: url("../images/cup_next.png") no-repeat;
    display:none;
    position:absolute;
    top: 0px;
    left: -9px;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
.cup-info {
    margin-bottom: 5px;
    line-height: 25px;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
    padding-top: 2px;
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    padding-top:7px;
    margin-bottom:20px;
    position:relative;
}

.cup-info .cup-info-game {
    float:left;
    margin-right:10px;
    width:48px;
}
.cup-info .cup-info-game img {
    border-radius:2px;
    border-radius: 1px solid #666;
}

.cup-info .teams-slots {
    color:red;
}

.cup-info .teams-registered {
    color:green;
}

.cup-info .cup-info-info {
    float:left;
    width:500px;
    line-height: 16px;
    font-size: 10px;
}
.page-cups #content_page .choose-game ul li {
    display:block;
    height:50px;
    border-bottom: 1px solid #c7c7c7;
    text-align:center;
    float:none;
    margin-top:0 !important;
}
.page-cups #content_page .choose-game ul li:last-child {
    border:0;
}
.page-cups #content_page .choose-game ul li a img {
    float:left;
    margin-top: 13px;
    margin-right: 10px;
    border-radius:5px;
}
.page-cups #content_page .choose-game ul li.link-1 a {
    padding-left:49px;
    border-top-right-radius: 5px;
}
.page-cups #content_page  .choose-game ul li a {
    height: 50px;
    display: block;
    padding-left: 17px;
    text-align: left;
    line-height: 48px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-cups #content_page .choose-game ul li.active a.active, .page-cups .choose-game ul li a:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: url(none); /* Firefox 4+ */
    filter: none; /* IE 6-9 */
}

.page-cups #content_page .choose-game ul {
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid #c7c7c7;
    width: 210px;
    float: left;
    height:auto;
}
.page-cups #content_page .choose-game ul li.active a {
    color:white;
}
.page-cups #content_page .choose-game ul li.active {

    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom right, #FEDACE 0%, #F96D3C 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom right, #FEDACE 0%, #F96D3C 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom right, #FEDACE 0%, #F96D3C 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FEDACE), color-stop(1, #F96D3C));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom right, #FEDACE 0%, #F96D3C 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top left, #FEDACE 0%, #F96D3C 100%);
}


.page-cups #content_page .choose-game ul {
    margin:0;
    padding:0;
    margin-left: -17px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-cups #content_page .cups-list {
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid #c7c7c7;
    float: right;
    width: 720px;
    min-height: 200px;
    margin-right: -17px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.page-cups #content_page .cups-list ul {
    padding:0;
    margin:0;
}
.page-cups #content_page .cups-list ul li {
    height: 30px;
    margin-bottom: 5px;
    line-height: 25px;
    clear:both;
    padding-left:10px;
    padding-right:10px;
    box-shadow:0px 2px 5px #666;
    margin:10px;

    padding-top:2px;
}
.page-cups #content_page .cups-list ul li .cups-list-game {
    width:26px;
    float:left;
}
.page-cups #content_page .cups-list ul li .cups-list-game img {
    margin-top:5px;
}

.page-cups #content_page .cups-list ul li .cups-list-name {
    width: 245px;
    float:left;
    margin-top: 2px;
}

.page-cups #content_page .cups-list ul li .cups-list-name img {
    float: left;
    margin-top: 6px;
    padding-right: 5px;
}

.page-cups #content_page .cups-list ul li .cups-list-format {
    float:left;
    width:40px;
    color:#666;
    padding-right:0px;
}
.page-cups #content_page .cups-list ul li .cups-list-teams {
    width:189px;
    float:left;
    font-size:9px;
    color:#666;
    margin-top:2px;
}

.page-cups #content_page .cups-list ul li .cups-list-teams .teams-registered-bar {
    width:148px;
    background:#434e44;
    height:11px;
    float:left;
    border-radius:3px;
    margin-top:6px;
    margin-right: 6px;
    box-shadow: 0px 1px 4px #000;
}
.page-cups .cups-list ul li .cups-list-teams .teams-registered-loading {
    background: url("../img/teams_registered_loading.png") repeat-x;
    height: 11px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

}

.page-cups .cups-list ul li .cups-list-teams .teams-registered-loading.procents-100 {
    border-radius:2px;
}

.page-cups .cups-list ul li .cups-list-teams .teams-registered{
    color:green;
}
.page-cups .cups-list ul li .cups-list-teams .teams-total {
    color:red;
}

.page-cups .cups-list ul li .cups-list-join {
    float:left;
    width:55px;
}

.page-cups .cups-list ul li .cups-list-date {
    float:left;
    width:119px;
    font-size:10px;
    color:#666;
    margin-top:2px;
}
.page-cups .cups-list ul li .cups-list-join a {
    min-width: 30px;
    height:14px;
    font-size:10px;
    display:inline-block;
    line-height:13px;
}

#cup-id-registered {
    float:left;
    width:473px;
    margin-bottom: 5px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
    padding-top: 2px;
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    padding-top: 7px;
    padding-bottom:10px;
}

#cup-id-registered-unaccepted a.checked-in {
    font-weight:bold;
}
#cup-id-registered-unaccepted {
    float:left;
    width: 225px;
    border-right:1px solid #ccc;
    margin-right: 10px;
}

#cup-id-registered-accepted {
    float:right;
    width:225px;
}

#cup-right {
    float:right;
    width: 400px;
}
#cup-id-rules,#cup-id-dates {
    margin-bottom: 5px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
    padding-top: 2px;
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    padding-top: 7px;
    padding-bottom:10px;
    margin-bottom:20px;
}

.cup-id-dates-icon {
    float:left;
    width:60px;
    height:60px;
    background:url("../images/clock.gif") no-repeat;
    margin-top:16px;
}

#cup-id-dates table {
    width:320px;
    border:0;
    background:0;
    float:left;
}

#cup-id-dates table td, #cup-id-dates table tr {
    border:0px;

}
#cup-id-dates td {
    font-size:11px;
}
#cup-id-dates td.label {
    font-weight:bold;
    text-align:right;

}


.cup-tree .row{
    float:left;
    width:150px;
    margin-right: 10px;
}

.cup-tree .tree-pair {
    margin-bottom: 5px;
    line-height: 25px;
    clear: both;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
    padding-top: 2px;
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    margin:5px;
    width:170px;
}

.cup-tree .tree-pair.last {
    background: url(../images/side_s1_title_bg_gold.png) repeat-x #E4E4E4;
}

.team-score {
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
    background: #E4E4E4;
    width:13px;
    height:20px;
    float:right;
    text-align: center;
    line-height: 20px;
}


.cup-tree h2 {
    text-align: center;
    font-size: 14px;
    color:#666;
}
/* 4 slots */
.cup-tree.grid-2 .row {
    margin-right:36px;
}
.cup-tree.grid-2 .row-1 .tree-pair {
    margin-bottom:60px;
    margin-top:60px;
}
.cup-tree.grid-2 .row-2 .tree-pair {
    margin-top:117px;
    margin-bottom:170px;
}
.cup-tree.grid-2 .row-3 .tree-pair {
    margin-top:132px;
    margin-bottom:340px;
}

.cup-tree.grid-2 .row-winner {
    margin-top:47px;
}

/* 8 slots */
.cup-tree.grid-3 .row {
    margin-right: 16px;
    height: 470px;
    width:170px;
}
.cup-tree.grid-3 .row-1 .tree-pair {
    margin-bottom:60px;
}
.cup-tree.grid-3 .row-2 .tree-pair {
    margin-top: 67px;
    margin-bottom: 172px;
}
.cup-tree.grid-3 .row-3 .tree-pair {
    margin-top: 179px;
    margin-bottom: 340px;
}
.cup-tree.grid-3 .row-4 .tree-pair {
    margin-top:6px;
    background:#E4E4E4;
    margin-top: 192px;
}
.cup-tree.grid-3 .row.row-_3 {
    height:80px;
}

.cup-tree.grid-3 .row-winner {
    margin-top:94px;
}

/* 8 slots double */

.cup-tree.grid-3.double .row-4 .tree-pair {
    margin-top: 6px;
    margin-top: 192px;
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
}
.cup-tree.grid-3.double .row-5 .tree-pair {
    margin-top: 193px;
}
.cup-tree.grid-3.double .subtree1 .row-3 .tree-pair {
    margin-top: 66px;
    margin-bottom:0;
}

.cup-tree.grid-3.double .subtree1 .row-4 .tree-pair {
    margin-top: 67px;
}


.cup-tree.grid-3.double .subtree1 .row-3 .tree-pair,
.cup-tree.grid-3.double .subtree1 .row-4 .tree-pair{
    margin-bottom:0;
}

.cup-tree.grid-3.double .subtree1 .row-2 .tree-pair {
    margin-bottom: 60px;
    margin-top:0;
}

.cup-tree.grid-3.double .subtree1 .row-1,
.cup-tree.grid-3.double .subtree1 .row-2,
.cup-tree.grid-3.double .subtree1 .row-3,
.cup-tree.grid-3.double .subtree1 .row-4,
.cup-tree.grid-3.double .subtree1 .row-5 {
    height:auto;
}

/* 16 slots */

.cup-tree.grid-4 .row {
    margin-right:-1px;
    width: 187px;
}
.cup-tree.grid-4 .row-1 .tree-pair {
    margin-bottom:60px;
}
.cup-tree.grid-4 .row-2 .tree-pair {
    margin-top:60px;
    margin-bottom:170px;
}
.cup-tree.grid-4 .row-3 .tree-pair {
    margin-top: 170px;
    margin-bottom: 400px;
}
.cup-tree.grid-4 .row-4 .tree-pair {
    margin-top:393px;
}

.cup-tree.grid-4 .row-5 .tree-pair {
    margin-top: 406px;
}



.cup-tree.grid-4 .row-winner {
    margin-top:313px;
}

/* 16 slots double */

.cup-tree.grid-4.double {
    width: 926px;
    overflow-x: scroll;
}

.cup-tree.grid-4.double .cup-tree-inbox {
    width: 930px;
    padding-bottom: 88px;
    clear: both;
    margin-bottom: 30px;
}

.cup-tree.grid-4.double .row {
    margin-right:-1px;
    width: 187px;
}
.cup-tree.grid-4.double .row-1 .tree-pair {
    margin-bottom:60px;
}
.cup-tree.grid-4.double .row-2 .tree-pair {
    margin-top:73px;
    margin-bottom:170px;
}
.cup-tree.grid-4.double .row-3 .tree-pair {
    margin-top: 183px;
    margin-bottom: 400px;
}
.cup-tree.grid-4.double .row-4 .tree-pair {
    margin-top: 406px;
}

.cup-tree.grid-4.double .row-5 .tree-pair {
    margin-top: 420px;
}

.cup-tree.grid-4.double .row-6 .tree-pair {
    margin-top: 417px;
}

.cup-tree .subtree0 .row-1 .tree-pair:last-child,
.cup-tree .subtree0 .row-2 .tree-pair:last-child,
.cup-tree .subtree0 .row-3 .tree-pair:last-child,
.cup-tree .subtree0 .row-4 .tree-pair:last-child,
.cup-tree .subtree0 .row-5 .tree-pair:last-child,
.cup-tree .subtree0 .row-6 .tree-pair:last-child {
    margin-bottom:20px;
}

.cup-tree.grid-4.double .subtree1 {
    margin-top:50px;
}


.cup-tree.grid-4.double .subtree1 .row-2 .tree-pair {
    margin-top: 0px;
    margin-bottom: 60px;
}

.cup-tree.grid-4.double .subtree1 .row-3 .tree-pair,
.cup-tree.grid-4.double .subtree1 .row-4 .tree-pair{
    margin-top: 68px;
    margin-bottom: 174px;
}

.cup-tree.grid-4.double .subtree1 .row-5 .tree-pair,
.cup-tree.grid-4.double .subtree1 .row-6 .tree-pair {
    margin-top: 179px;
}

.cup-tree.grid-4 .row-winner {
    margin-top:313px;
}

.cup-tree.grid-4.double .subtree1 .row-1,
.cup-tree.grid-4.double .subtree1 .row-2,
.cup-tree.grid-4.double .subtree1 .row-3,
.cup-tree.grid-4.double .subtree1 .row-4,
.cup-tree.grid-4.double .subtree1 .row-5 {
    height:auto;
}


/* 32 slots */


.cup-tree.grid-5 {
    width: 932px;
    overflow-x: scroll;
}

.cup-tree.grid-5 .row {
    margin-right:-1px;
}
.cup-tree.grid-5 .row-1 .tree-pair {
    margin-bottom:60px;
}
.cup-tree.grid-5 .row-2 .tree-pair {
    margin-top: 66px;
    margin-bottom: 173px;
}
.cup-tree.grid-5 .row-3 .tree-pair {
    margin-top: 170px;
    margin-bottom: 400px;
}
.cup-tree.grid-5 .row-4 .tree-pair {
    margin-top:396px;
    margin-bottom: 833px;
}

.cup-tree.grid-5 .row-5 .tree-pair {
    margin-top: 863px;
}

.cup-tree.grid-5 .row-winner {
    margin-top:313px;
}

.cup-tree.grid-5 .row {
    float: left;
    width: 183px;
    margin-right: -3px;
}

.cup-tree.grid-5 .tree-pair .team {
    font-size:9px;
}

.cup-tree.grid-5 .tree-pair.last {
    margin-top: 875px;
    background: #E4E4E4;
}

.cup-tree.grid-5 .row-4 .tree-pair:last-child,.cup-tree.grid-5 .row-3 .tree-pair:last-child, .cup-tree.grid-5 .row-2 .tree-pair:last-child {
    margin-bottom:0;
}

/* 32 slots double */

.cup-tree.grid-5.double .subtree0 .row-6 .tree-pair {
    margin-top: 875px;
}



.cup-tree.grid-5.double {
    width: 932px;
    overflow-x: scroll;
}

.cup-tree.grid-5.double .cup-tree-inbox {
    width: 1500px;
    padding-bottom: 88px;
    clear: both;
    margin-bottom: 30px;
}

.cup-tree.grid-5.double .row {
    margin-right:-1px;
    width: 187px;
}

.cup-tree.double .row-1 .tree-pair:last-child,
.cup-tree.double .row-2 .tree-pair:last-child,
.cup-tree.double .row-3 .tree-pair:last-child,
.cup-tree.double .row-4 .tree-pair:last-child,
.cup-tree.double .row-5 .tree-pair:last-child,
.cup-tree.double .row-6 .tree-pair:last-child,
.cup-tree.double .row-7 .tree-pair:last-child,
.cup-tree.double .row-8 .tree-pair:last-child,
.cup-tree.double .row-9 .tree-pair:last-child,
.cup-tree.double .row-10 .tree-pair:last-child {
    margin-bottom:20px !important;
}

.cup-tree.grid-5.double .subtree1 {
    margin-top:50px;
}


.cup-tree.grid-5.double .subtree1 .row-2 .tree-pair {
    margin-top: 0px;
    margin-bottom: 60px;
}

.cup-tree.grid-5.double .subtree1 .row-3 .tree-pair,
.cup-tree.grid-5.double .subtree1 .row-4 .tree-pair{
    margin-top: 68px;
    margin-bottom: 172px;
}

.cup-tree.grid-5.double .subtree1 .row-5 .tree-pair,
.cup-tree.grid-5.double .subtree1 .row-6 .tree-pair {
    margin-top: 179px;
    margin-bottom: 403px;
}
.cup-tree.grid-5.double .subtree1 .row-7 .tree-pair,
.cup-tree.grid-5.double .subtree1 .row-8 .tree-pair {
    margin-top: 412px;
}

.cup-tree.grid-5 .row-winner {
    margin-top:313px;
}

.cup-tree.grid-5.double .subtree1 .row-1,
.cup-tree.grid-5.double .subtree1 .row-2,
.cup-tree.grid-5.double .subtree1 .row-3,
.cup-tree.grid-5.double .subtree1 .row-4,
.cup-tree.grid-5.double .subtree1 .row-5 {
    height:auto;
}



/* 64 slots */



.cup-tree.grid-6 {
    width: 932px;
    overflow-x: scroll;
}

.cup-tree.grid-5 .cup-tree-inbox {
    width: 1085px;
    padding-bottom: 88px;
    clear: both;
    margin-bottom: 30px;
}


.cup-tree.grid-6 .cup-tree-inbox {
    width: 1302px;
    padding-bottom: 88px;
    clear: both;
    margin-bottom: 30px;
}

.cup-tree.grid-6 .row {
    margin-right:-1px;
}
.cup-tree.grid-6 .row-1 .tree-pair {
    margin-bottom:60px;
}
.cup-tree.grid-6 .row-2 .tree-pair {
    margin-top:68px;
    margin-bottom:172px;
}
.cup-tree.grid-6 .row-3 .tree-pair {
    margin-top: 182px;
    margin-bottom: 400px;
}
.cup-tree.grid-6 .row-4 .tree-pair {
    margin-top: 400px;
    margin-bottom: 848px;
}

.cup-tree.grid-6 .row-5 .tree-pair {

}

.cup-tree.grid-6 .row-winner {
    margin-top:313px;
}

.cup-tree.grid-6 .row {
    float: left;
    width: 187px;
    margin-right: -3px;
}

.cup-tree.grid-6 .tree-pair .team {
    font-size:9px;
}

.cup-tree.grid-6 .tree-pair.last {
    margin-top: 1762px;
    background:#E4E4E4;
}

.cup-tree.grid-6 .row-5 .tree-pair:last-child, .cup-tree.grid-6 .row-4 .tree-pair:last-child,.cup-tree.grid-6 .row-3 .tree-pair:last-child, .cup-tree.grid-6 .row-2 .tree-pair:last-child {
    margin-bottom:0;
}
.cup-tree.grid-6 .row-5 .tree-pair {
    margin-top: 848px;
    margin-bottom: 1753px;
}

.cup-tree.grid-6 .row-6 .tree-pair {
    margin-top: 1752px;
}


/* 64 slots double*/

.cup-tree.grid-6 {
    width: 932px;
    overflow-x: scroll;
}

.cup-tree.grid-6.double .cup-tree-inbox {
    width: 1842px;
    padding-bottom: 88px;
    clear: both;
    margin-bottom: 30px;
}

.cup-tree.grid-6 .row {
    margin-right:-1px;
}
.cup-tree.grid-6 .row-1 .tree-pair {
    margin-bottom:60px;
}
.cup-tree.grid-6 .subtree1 .row-2 .tree-pair {
    margin-top:0px;
    margin-bottom:60px;
}

.cup-tree.grid-6 .subtree1 .row-3 .tree-pair,
.cup-tree.grid-6 .subtree1 .row-4 .tree-pair {
    margin-top: 67px;
    margin-bottom: 172px;
}

.cup-tree.grid-6 .subtree1 .row-5 .tree-pair,
.cup-tree.grid-6 .subtree1 .row-6 .tree-pair {
    margin-top: 184px;
    margin-bottom: 398px;
}

.cup-tree.grid-6 .subtree1 .row-7 .tree-pair,
.cup-tree.grid-6 .subtree1 .row-8 .tree-pair {
    margin-top: 412px;
    margin-bottom: 839px;
}
.cup-tree.grid-6 .subtree1 .row-9 .tree-pair,
.cup-tree.grid-6 .subtree1 .row-10 .tree-pair {
    margin-top: 865px;
}

.cup-tree.grid-6 .row-winner {
    margin-top:313px;
}

.cup-tree.grid-6 .row {
    float: left;
    width: 187px;
    margin-right: -3px;
}

.cup-tree.grid-6 .tree-pair .team {
    font-size:9px;
}

.cup-tree.grid-6 .tree-pair.last {
    margin-top: 1762px;
    background:#E4E4E4;
}

.cup-tree.grid-6 .row-5 .tree-pair:last-child, .cup-tree.grid-6 .row-4 .tree-pair:last-child,.cup-tree.grid-6 .row-3 .tree-pair:last-child, .cup-tree.grid-6 .row-2 .tree-pair:last-child {
    margin-bottom:0;
}
.cup-tree.grid-6 .row-5 .tree-pair {
    margin-top: 848px;
    margin-bottom: 1753px;
}

.cup-tree.grid-6 .row-6 .tree-pair {
    margin-top: 1752px;
}

.cup-tree.grid-6 .row-7 .tree-pair {
    margin-top: 1763px;
}



/* 128 slots */

.cup-tree.grid-7 {
    width: 932px;
    overflow-x: scroll;
}
.cup-tree.grid-7 .cup-tree-inbox {
    width: 1250px;
}

.cup-tree.grid-7 .row {
    margin-right:-1px;
}
.cup-tree.grid-7 .row-1 .tree-pair {
    margin-bottom:60px;
}
.cup-tree.grid-7 .row-2 .tree-pair {
    margin-top:68px;
    margin-bottom:172px;
}
.cup-tree.grid-7 .row-3 .tree-pair {
    margin-top: 182px;

    margin-bottom: 396px;
}
.cup-tree.grid-7 .row-4 .tree-pair {
    margin-top: 410px;
    margin-bottom: 844px;
}

.cup-tree.grid-7 .row-5 .tree-pair {
    margin-top: 410px;
    margin-bottom: 844px;
}

.cup-tree.grid-7 .row-winner {
    margin-top:313px;
}

.cup-tree.grid-7 .row {
    float: left;
    width: 157px;
    margin-right: -3px;
}

.cup-tree.grid-7 .tree-pair .team {
    font-size:9px;
}

.cup-tree.grid-7 .tree-pair.last {
    margin-top: 3533px;
    background:#E4E4E4;
}

.cup-tree.grid-7 .row-7 .tree-pair:last-child,.cup-tree.grid-7 .row-6 .tree-pair:last-child .cup-tree.grid-7 .row-5 .tree-pair:last-child, .cup-tree.grid-7 .row-2 .tree-pair:last-child {
    margin-bottom:0;
}
.cup-tree.grid-7 .row-5 .tree-pair {
    margin-top: 848px;
    margin-bottom: 1741px;
}

.cup-tree.grid-7 .row-6 .tree-pair {
    margin-top: 1752px;
    margin-bottom: 3554px;
}

.cup-tree.grid-7 .row-7 .tree-pair {
    margin-top: 3521px;
}

/*
 * MyTeam
 */

.team-profile-members {
    width:402px;
}

.team-profile-members .joined {
    font-size:11px;
}

#delete-my-team .confirm {
    width:110px;
}

#wrapper_wrapper #content_page #coins_menu li, #wrapper_wrapper #content_page #coins_menu ul {
    margin:0;
    padding:0;

}
#wrapper_wrapper #content_page #coins_menu ul {
    border:0;
    height:auto;
}
#wrapper_wrapper #content_page #coins_menu li {
    padding-top:10px;
    padding-bottom:10px;
    background-position: center center;
    border-left:0;
    border-right:0;

}

.team-profile-members td {
    text-align:left;
}

.page-team .side {
    padding:0;
}

.page-team .team-info {
    width: 200px;
    text-align: left;
    margin-left: 24px;
}
.page-team .team-info span {
    color:#ccc;
    font-size:11px;
}
.myTeam-edit form .form-item-div {
    clear:both;
    border-bottom: 1px dashed #666;
    padding-bottom:5px;
    padding-top:5px;
    position: relative;
}

.myTeam-edit form .form-item-div .field-sufix {
    position: absolute;
    top: 10px;
    right: 5px;
}
.myTeam-edit form {
    width:321px;
}

.myTeam-edit form .form-item-div .field-prefix {
    float: left;
    width: 215px;
    margin-top: 4px;
}

.new-member form .form-item-div{
    border:0;
}
.new-member form .form-item-div .form-item .form-item-title {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.myTeam-edit .team-photo .form-item-div {
    border:0px;
}

.myTeam-edit .team-photo {
    float:left;
    width:300px;
}

.myTeam-edit .team-photo img {
    border-radius:5px;
    border:1px solid #666;
    box-shadow: 2px 2px 5px #666;
}

.myteam-box-photo {
    background:#f0f0f0;
}

.myTeam-edit .team-members {
    float:left;
    width:300px;
}

.myTeam-edit .new-member form {
    width:auto;
}
.myteam-box {
    width:180px;
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:2px 2px 5px #666;
    float:left;
    padding:4px;
    margin-right: 10px;
}
.myteam-box-photo{
    width:180px;
    height:180px;
}
.myteam-box-photo img {
    width:180px;
    height:180px;
    border-radius:5px;
}

a.myteam-edit {
    font-weight:normal;
    font-size:10px;
    color:#f96d3c;
    float:right;
    margin-top:2px;
}
.myteam-box-name {
    border-bottom: 1px dashed #ccc;
    margin-top: 4px;
    margin-bottom: 6px;
    padding-bottom: 8px;
}
.myteam-box-name a {
    font-weight:bold;
}
.myteam-box-rank {
    margin-top:3px;
}
.myteam-box-rank img {
    margin-top: -1px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.myteam-box-rank .points {
    color:#666;
}

/*
 * MyProfile
 */
.coins_left {
    font-size:22px;
}

#coins-sms-form .form-item-title {
    float:left;
    margin-right: 10px;
    margin-top:3px;
}
.page-myprofile #right img {
    border-radius:5px;
    box-shadow:1px 1px 5px #666;
}

.page-myprofile #right .content {
    float:none;
    width:auto;
}
.form-submit {
    clear:both;
}

.myProfile-photo img {
    border-radius:5px;
}

#coins_menu li {
    display:block;
    height:50px;
    border-bottom: 1px solid #c7c7c7;
    text-align:center;
}
#coins_menu li:last-child {
    border:0;
}
#coins_menu li.link-1 a {
    background: url("../img/icons/coins_sms.png") no-repeat;
}
#coins_menu li.link-2 a {
    background: url("../img/icons/coins_paypal.png") no-repeat;
}
#coins_menu li.link-3 a {
    background: url("../img/icons/coins_ibank.png") no-repeat;
}
#coins_menu li.link-4 a{
    background: url("../img/icons/coins_history.png") no-repeat;
}
#coins_menu li a {
    color: transparent;
    line-height: 0px;
    height: 50px;
    display: block;
    width: 56px;
    margin-left: 4px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
}

#coins_menu li.active a.active, #coins_menu li a:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: url(none); /* Firefox 4+ */
    filter: none; /* IE 6-9 */
}

#coins_menu {
    background: url(../images/side_s1_title_bg.png) repeat-x #E4E4E4;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid #c7c7c7;
    width: 60px;
    float: left
}
#coins_menu ul {
    margin:0;
    padding:0;
}

#coins_content {
    float: left;
    width: 590px;
    margin-left: 15px;
}

.paypal_prices {
    width:221px;
}

.right {
    text-align:right;
}

.left {
    text-align:left;
}

.bg_red {
    color:#CC0000;
}
.bg_green {
    color:#339900;
}
/*
 * Chat
 */
#chat-form textarea {
    height: 100px;
    width:789px;
    margin-bottom:5px;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    resize:none;
    box-shadow: 3px 3px 5px #888888;
}

.chat-time {
    font-size: 11px;
    color: #999;
}
#chat-form {
    float:right;
    width: 802px;

}
#chat-user img {
    border-radius:5px;
    margin-bottom:8px;
    border: 1px solid #C94200
}
#chat-user {
    text-align:center;
    width:110px;
    float:left;
}


.chat-message-div {
    margin-bottom:15px;
    padding:6px;
    box-shadow: 3px 3px 5px #888888;
    border: 1px solid #ccc;
    border-radius:5px;
    position: relative;
}

.chat-message-div .confirm {
    position:absolute;
    right:0px;
    top:0px;
}
.chat-message {
    float: right;
    width:788px;
}
.chat-user img.photo {
    border-radius:5px;
    border: 1px solid #C94200
}
.chat-user {
    text-align: center;
    width: 124px;
    float: left;
}

.chat-user a {
    font-size:11px;
}

#chat-messages {
    margin-top:15px;
}
/*
 * Messages
 */
.messages {
    border: 1px solid;
    margin: 10px 0px;
    text-align:center;
}
.messages.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.messages.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.messages.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.messages.error {
    color: #D8000C;
    background-color: #FFBABA;
}

ul.search {
    padding:0;
    margin:0;
}

ul.search li {
    margin-bottom:5px;
}
ul.search span.highlight{
    background:yellow;
}

/*
 * Table
 */
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    width:100%;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    border-top:2px solid #d1d1d1;
}
table th {
    padding:21px 25px 22px 18px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th.nostyle {
    padding:0;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
td.rank-user {
    text-align:left;
}
table td {
    padding:10px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    color:#666;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#E4E4E4));
    background: -moz-linear-gradient(top,  #E4E4E4,  #E4E4E4);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.center {
    text-align:center;
}

table tr.unread td {
    background:#D5EAF9;
}
table tr.unread td a {
    font-weight:bold;
}
table#messages td.message_title {
    text-align:left;
}

table#messages td.message_status {
    width:15px;
}

table#messages td.message_checkbox {
    width:12px;
}

/*
 * Pagination
 */

nav.pagination {
    font-family:"Quattrocento",serif;
    font-size:17px;
    color:#474747;
    display:block;
    margin-top:5px;
}

nav.pagination ul {
    margin:0;
    padding:0;
    list-style:none;
}

nav.pagination ul li {
    display:inline-block;
}

nav.pagination ul li + li {
    margin-left:3px;
    margin-bottom:5px;
}

nav.pagination ul li a {
    padding:2px 6px 2px 6px;
    color:inherit;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255,255,255,1);
    line-height:1;
    background:#F7F7F7;
    background:-webkit-gradient(linear,left top,left bottom,from(#F7F7F7),to(#DEDEDE));
    background:-moz-linear-gradient(top,#F7F7F7,#DEDEDE);
    background:-webkit-linear-gradient(top,#F7F7F7,#DEDEDE);
    background:linear-gradient(top,#F7F7F7,#DEDEDE);
    border:#EDEDED solid 1px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:
        0 1px 1px rgba(0,0,0,0.5),
        0 1px 0 rgba(255,255,255,1) inset;
    -webkit-box-shadow:
        0 1px 1px rgba(0,0,0,0.5),
        0 1px 0 rgba(255,255,255,1) inset;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.5),
        0 1px 0 rgba(255,255,255,1) inset;
    display:block;
}

nav.pagination ul li a.active {
    margin-top:3px;
    -moz-box-shadow:
        0 1px 0 rgba(255,255,255,1),
        0 1px 1px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow:
        0 1px 0 rgba(255,255,255,1),
        0 1px 1px rgba(0,0,0,0.3) inset;
    box-shadow:
        0 1px 0 rgba(255,255,255,1),
        0 1px 1px rgba(0,0,0,0.3) inset;
}

/*
 * Messages
 */
.sendMessage td {
    text-align:left;
}

.sendMessage textarea {
    float:none;
}


.ajax_arguments {
    display: none;
}


.ajax-content-getUsername {
    border:1px solid #C9C9C9;
    box-shadow: 0 0 8px 0 rgba(99, 99, 99, 0.2) inset;
    width: 150px;
    border-radius: 0px 0px 3px 3px;
    background: white;
    margin-top: -5px;
    padding: 5px;
}

.ajax-content-getGameaccount {
    border:1px solid #C9C9C9;
    box-shadow: 0 0 8px 0 rgba(99, 99, 99, 0.2) inset;
    width: 150px;
    border-radius: 0px 0px 3px 3px;
    background: white;
    margin-top: -5px;
    padding: 5px;
}

a.button {
    display: inline-block;
    line-height: 21px;
}

.view-message td {
    text-align:left;
}

.mailboxfull {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 233px;
    height: 20px;
}

.mailboxfull_bar {
    background:#2694E2;
    height:20px;
}

.side .content {
    padding:6px;
}

h1.title {
    font-size:20px;
    color:#666;
}

#wrapper_wrapper #content_page ul.tabs {
    margin-top:0;
    border:1px solid #c7c7c7;
}

#wrapper_wrapper #content_page ul.tabs li.active {
    margin-top:3px;
}

table.no-style, table.no-style tr, table.no-style td {
    border:0;
    background:none;
    padding:0;
}

#cups .pagination {
    clear:both;
    float:right;
}

.page-stream .stream {
    margin-bottom: 5px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 2px 5px #666;
    margin: 10px;
    border-radius: 5px;
    padding-top: 13px;
    width: 320px;
    float:left;
}

.page-stream .stream .stream-view {
    background: url("../img/views.png") no-repeat left center;
    padding-left: 20px;
    color: #666;
}

.page-stream .stream .stream-date {
    font-size:11px;
    color:#666;
}

#stream-video {
    float: left;
    width: 620px;
}

#stream-chat {
    width: 308px;
    float: right;
    border:1px solid #ccc;
}

.warning_link {
    background: url('/public/img/icons/table_error.png') no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    position:absolute;
    top:5px;
    right:5px;
    z-index:99;
}
.competitive {
    background:#FFCC00;
    border-radius:5px;
    padding:1px;
    padding-left:5px;
    padding-right:5px;
    display:inline-block;
    color:#3d3d3d;
    cursor:pointer;
}

.rank_history table {
    border:0px !important;
    background:none !important;
    text-shadow: none !important;
    box-shadow:none !important;
}
.rank_history table td, .rank_history table th {
    padding:3px !important;
    background:none !important;
    border:0px !important;
    padding-bottom:0px !important;
}

.rank_history table tbody, .rank_history table tr {
    border:0px !important;
}

.rank_history .history_label {
    font-weight:bold;
    font-size:13px;
    color:#61BFED;
    text-align:center;
}
.rank_history ul {
    padding:0;
}

.no_top_teams {
    height:100px;
    padding:10px;
}


.main-title:before {
    display: block;
    content: '';
    height: 2px;
    left: 20px;
    right: 20px;
    top: 50%;
    margin-top: -11px;
    background: #2c2f33;
    position: absolute;
    z-index: 0;
}

.main-title {
    display: block;
    padding: 0 20px 20px 0;
    position: relative;
}

.main-title h3 {
    display: inline-block;
    max-width: 70%;
    width:auto !important;
    margin-bottom:0 !important;
    padding-left:0 !important;
    font-size: 26px;
    font-weight: 400;
    color: #1e2226;
    background: #fff;
    padding-right: 20px;
    position: relative;
}

.main-title .right-link {
    position: absolute;
    top: 16%;
    right: 20px;
    font-size: 14px;
    color: #47494b;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    padding-left: 20px;
}

#front-streams .stream-featured {
    position: relative;
}

#front-streams .stream-featured a {
    float: left;
    width: 100%;
}

#front-streams .stream-featured:hover {
    color:#666 !important;
}

#front-streams .stream-image {
    float: left;
    width: 100%;
    overflow: hidden;
    border-bottom: 4px solid #2694E2;
    z-index: 1;
}

#front-streams .stream-image img {
    margin-bottom: 0;
    width: 100%;
    display: inherit;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#front-streams .stream:hover img {
    -moz-transform: scale(1.1) rotate(2deg);
    -webkit-transform: scale(1.1) rotate(2deg);
    -o-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
}

#front-streams .stream {
    width: 31%;
    float: left;
    margin-right: 1.9%;
    border: 0px;
    background: #fff;
    overflow: hidden;
}

#front-streams .streamer {
    background: #2694E2;
    color: white;
    padding: 6px;
    line-height: 11px;
    margin-top: -14px;
    float: left;
    z-index: 999;
    position: relative;
}