.cl-c {
	font-family: Verdana, sans-serif;
	text-align: left;
	font-size: 11px;
	color: #00C2F5;
}
.cl-c-text {
	width: 200px;
}
.cl-c-text div {
	float: left;
}

.cooloader-center-content {
    margin: 0 auto;
    width: 178px;
}

.cl-c {
    margin-left:-240px !important;
}